@model FarmPlannerClient.PreferUsu.PreferUsuViewModel





<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Defina suas preferências</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->


<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <form asp-action="GravarPreferUsu">
                                <div class="card">
                                    <div class="card-body">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                        
                                            <input asp-for="uid" class="form-control" hidden />
                                        
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="idconta" class="control-label"></label>
                                            @{
                                                if (User.IsInRole("Admin"))
                                                {
                                                    <select asp-for="idconta" class="form-control" asp-items="@ViewBag.contas" value="@ViewBag.idconta"  id="idconta" onchange="loadorganizacoes()"></select>
                                                }
                                                else
                                                {
                                                    <select asp-for="idconta" class="form-control" asp-items="@ViewBag.contas"  id="idconta"  disabled onchange="loadorganizacoes()"></select>
                                                    <input asp-for="idconta" class="form-control" hidden />
                                                }
                                            }
                                            <span asp-validation-for="idconta" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="idorganizacao" class="control-label"></label>
                                            <select asp-for="idorganizacao" class="form-control"  id="idorg" onchange="loadano()"></select>
                                            <span asp-validation-for="idorganizacao" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="idanoagricola" class="control-label"></label>
                                            <select asp-for="idanoagricola" class="form-control" id="idano"></select>
                                            <span asp-validation-for="idanoagricola" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col text-right">
                                                <button type="submit" class="btn btn-primary">Confirmar</button>
                                                <a href="/home" class="btn btn-danger">Voltar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>


                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section>

</div>

@section scripts {
    <script>

       

        $(document).ready(function () {
     //       $("#idconta").val("@ViewBag.idconta");
            loadorganizacoes();
            loadano();
        });


        function loadorganizacoes() {
            $.ajax({
                type: "get",
                url: "/Organizacao/GetOrganizacaoByUid",
                data: { idconta: $("#idconta").val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    if (obj != null) {
                        var data = obj;
                        var selectbox = $('#idorg');
                        selectbox.find('option').remove();

                        $.each(data, function (i, d) {
                            $('<option>').val(d.idorganizacao).text(d.descorg).appendTo(selectbox);
                        });
                        if (@ViewBag.idorg!="0"){
                            selectbox.val("@ViewBag.idorg");
                        }
                        loadano();
                        //$('#unidneg').trigger("change");
                    }
                }
            });

        }
        function loadano()
        {
            $.ajax({
                type: "get",
                url: "/anoagricola/ListAnoByOrg",
                    data: { idorg: $("#idorg").val(), idconta: $("#idconta").val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    if (obj != null) {
                        var data = obj;
                        var selectbox = $('#idano');
                        selectbox.find('option').remove();

                        $.each(data, function (i, d) {
                            $('<option>').val(d.id).text(d.descricao).appendTo(selectbox);
                        });
                        if (@ViewBag.idano!="0")
                        {
                            selectbox.val("@ViewBag.idano");
                        }
                        //$('#unidneg').trigger("change");
                    }
                }
            });

        }


    </script>
}

<!-- /.content -->