@model FarmPlannerClient.ConfigArea.ConfigAreaViewModel




<link rel="stylesheet" href="~/sweetalert2.min.css">
<!-- Toastr -->
<link rel="stylesheet" href="~/toastr.min.css">


<style>
    fieldset {
        border: 2px solid #008cba;
        padding: 10px;
        margin: 20px 0;
        border-radius: 5px;
    }

    legend {
        
        color: #008cba;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Titulo</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->



<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">

                <div class="card-body">
                    <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Dados Cadastrais</a>
                        </li>

                    </ul>

                    <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                              <form asp-action="@ViewBag.Acao">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">   
                                                <div class="form-group">
                                                    <label asp-for="id" class="control-label"></label>
                                                     <input asp-for="id" class="form-control" id="idfazenda" readonly />
                                                    <span asp-validation-for="id" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label asp-for="idSafra" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                    //        if (ViewBag.idacao == 1)
                                                    //        {
                                                    //            <select asp-for="idModeloMaquina" id="idmodelo" value="@ViewBag.idmodelo" class="form-control" asp-items="@ViewBag.modelos"></select>
                                                    //        }
                                                    //        else
                                                    //        {
                                                            <select asp-for="idSafra" id="idsafra" class="form-control" asp-items="@ViewBag.safras" onchange="changesafra()"></select>
                                                     //       }                                                           

                                                        }
                                                        else
                                                        {
                                                            <select asp-for="idSafra" id="idsafra" class="form-control" asp-items="@ViewBag.safras" disabled onchange="changesafra()"></select>
                                                        }
                                                        <span asp-validation-for="idSafra" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label asp-for="idVariedade" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                        //      if (ViewBag.idacao == 1)
                                                            //      {
                                                            //          <select asp-for="idCultura" id="idcultura" value="@ViewBag.idcultura" class="form-control" asp-items="@ViewBag.culturas"></select>
                                                            //      }
                                                            //      else
                                                            //      {

                                                            <select asp-for="idVariedade" id="idvariedade" class="form-control" asp-items="@ViewBag.variedades"></select>
                                                            //     }
                                                        }
                                                        else
                                                        {
                                                            <select asp-for="idVariedade" id="idvariedade" class="form-control" asp-items="@ViewBag.variedades" disabled></select>
                                                        }


                                                    }
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label asp-for="idfazenda" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                        //        if (ViewBag.idacao == 1)
                                                            //        {
                                                            //            <select asp-for="idModeloMaquina" id="idmodelo" value="@ViewBag.idmodelo" class="form-control" asp-items="@ViewBag.modelos"></select>
                                                            //        }
                                                            //        else
                                                            //        {
                                                            <select asp-for="idfazenda" id="idfaz" class="form-control" asp-items="@ViewBag.fazendas" onchange="changefaz()"></select>
                                                            //       }

                                                        }
                                                        else
                                                        {
                                                            <select asp-for="idfazenda" id="idfaz" class="form-control" asp-items="@ViewBag.fazendas" disabled onchange="changefaz()"></select>
                                                        }
                                                        <span asp-validation-for="idfazenda" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="idTalhao" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                        //        if (ViewBag.idacao == 1)
                                                            //        {
                                                            //            <select asp-for="idOperacao" id="idoperacao"  class="form-control" asp-items="@ViewBag.operacoes"></select>
                                                            //        }
                                                            //        else
                                                            //        {
                                                            <select asp-for="idTalhao" id="idtalhao" class="form-control" asp-items="@ViewBag.talhoes" onchange="fillarea()"></select>
                                                            //        }


                                                        }
                                                        else
                                                        {
                                                            <select asp-for="idTalhao" id="idtalhao" class="form-control" asp-items="@ViewBag.talhoes" disabled></select>
                                                        }
                                                        <span asp-validation-for="idTalhao" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="area" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {

                                                            <input asp-for="area"  class="form-control"/>

                                                        }
                                                        else
                                                        {
                                                            <input asp-for="area" class="form-control"  disabled/>
                                                        }
                                                        <span asp-validation-for="area" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>

                                        </div>

                                        <fieldset>
                                            <legend>Informações Complementares</legend>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label asp-for="pms" class="control-label"></label>
                                                        @{
                                                            if (ViewBag.idacao <= 2)
                                                            {

                                                                <input asp-for="pms" class="form-control" />

                                                            }
                                                            else
                                                            {
                                                                <input asp-for="pms" class="form-control" disabled />
                                                            }
                                                            <span asp-validation-for="pms" class="text-danger"></span>

                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label asp-for="espacamento" class="control-label"></label>
                                                        @{
                                                            if (ViewBag.idacao <= 2)
                                                            {

                                                                <input asp-for="espacamento" class="form-control" />

                                                            }
                                                            else
                                                            {
                                                                <input asp-for="espacamento" class="form-control" disabled />
                                                            }
                                                            <span asp-validation-for="espacamento" class="text-danger"></span>

                                                        }
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label asp-for="germinacao" class="control-label"></label>
                                                        @{
                                                            if (ViewBag.idacao <= 2)
                                                            {

                                                                <input asp-for="germinacao" class="form-control" />

                                                            }
                                                            else
                                                            {
                                                                <input asp-for="germinacao" class="form-control" disabled />
                                                            }
                                                            <span asp-validation-for="germinacao" class="text-danger"></span>

                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="populacaoRecomendada" class="control-label"></label>
                                                        @{
                                                            if (ViewBag.idacao <= 2)
                                                            {

                                                                <input asp-for="populacaoRecomendada" class="form-control" />

                                                            }
                                                            else
                                                            {
                                                                <input asp-for="populacaoRecomendada" class="form-control" disabled />
                                                            }
                                                            <span asp-validation-for="populacaoRecomendada" class="text-danger"></span>

                                                        }
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label asp-for="stand" class="control-label"></label>
                                                        @{
                                                            if (ViewBag.idacao <= 2)
                                                            {

                                                                <input asp-for="stand" class="form-control" />

                                                            }
                                                            else
                                                            {
                                                                <input asp-for="stand" class="form-control" disabled />
                                                            }
                                                            <span asp-validation-for="stand" class="text-danger"></span>

                                                        }
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="margemSeguranca" class="control-label"></label>
                                                        @{
                                                            if (ViewBag.idacao <= 2)
                                                            {

                                                                <input asp-for="margemSeguranca" class="form-control" />

                                                            }
                                                            else
                                                            {
                                                                <input asp-for="margemSeguranca" class="form-control" disabled />
                                                            }
                                                            <span asp-validation-for="margemSeguranca" class="text-danger"></span>

                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label asp-for="qtdSementePrevista" class="control-label"></label>
                                                        @{
                                                            if (ViewBag.idacao <= 2)
                                                            {

                                                                <input asp-for="qtdSementePrevista" class="form-control" />

                                                            }
                                                            else
                                                            {
                                                                <input asp-for="qtdSementePrevista" class="form-control" disabled />
                                                            }
                                                            <span asp-validation-for="qtdSementePrevista" class="text-danger"></span>

                                                        }
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="unidadeSementePrevista" class="control-label"></label>
                                                        @{
                                                            if (ViewBag.idacao <= 2)
                                                            {

                                                                <input asp-for="unidadeSementePrevista" class="form-control" />

                                                            }
                                                            else
                                                            {
                                                                <input asp-for="unidadeSementePrevista" class="form-control" disabled />
                                                            }
                                                            <span asp-validation-for="unidadeSementePrevista" class="text-danger"></span>

                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="prodEstimada" class="control-label"></label>
                                                        @{
                                                            if (ViewBag.idacao <= 2)
                                                            {

                                                                <input asp-for="prodEstimada" class="form-control" />

                                                            }
                                                            else
                                                            {
                                                                <input asp-for="prodEstimada" class="form-control" disabled />
                                                            }
                                                            <span asp-validation-for="prodEstimada" class="text-danger"></span>

                                                        }
                                                    </div>
                                                </div>

                                            </div>


                                        </fieldset>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col text-right">
                                                @{
                                                    if (ViewBag.idacao <= 2)
                                                    {
                                                                <button type="submit" class="btn btn-primary" >Salvar</button>
                                                    }
                                                    else
                                                    {
                                                        if (ViewBag.idacao == 3)
                                                        {
                                                                 <button type="submit" class="btn btn-primary">Excluir</button>
                                                        }
                                                    }
                                                }

                                                <a href="/configarea/index" class="btn btn-danger">Voltar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </form>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section>

</div>

<style>
    .custom-no-data {
        text-align: center;
        color: red;
        font-weight: bold;
    }

    .align-right {
        text-align: right;
    }
</style>

@section scripts
    {

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
        <script src="https://cdn.jsdelivr.net/npm/jsgrid@1.5.3/dist/jsgrid.min.js"></script>

    <script src="~/js/loadtalhoes.js"></script>
    <script src="~/js/loadvariedades.js"></script>

        

        <script>
        var talhoes = [];
            $(document).ready(function () {
                // Adiciona um listener para o evento change


            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:,\d{3})+)?(?:\,\d+)?$/.test(value);
            }
            // Simula a mudança de valor


            changesafra();
            changefaz();
     //       $('#idfaz').trigger("change");
            
            });
      //      $("#idtalhao").val(@ViewBag.idtalhao);
      //      $("#idvariedade").val(@ViewBag.idvariedade);


        function fillarea() {
            if (@ViewBag.idtalhao!= $("#idtalhao").val())
            {
                var t = $("#idtalhao").val();
                var i = talhoes.findIndex(x => x.id==t);
                $.ajax({
                    type: "get",
                    url: "/configarea/Getarea?idtalhao=" + t+"&area="+talhoes[i].area.toString(),
                    data: {},
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (obj) {
                        if (obj != null) {
                            $("#area").val(obj.area);
                            /*
                            if (tipo == 0) {
                                $('#idtalhao').val(@ViewBag.idtalhao);
                            }
                            */
                        }
                    }
                });
            }

        }

        function changefaz()
        {
            loadtalhoes(@ViewBag.idtalhao, false);
            $('#idtalhao').trigger("change");
        }

        function changesafra()
        {
            loadvariedades(@ViewBag.idvariedade, false);
            

        }

        </script>
}
<!-- /.content -->
