@model FarmPlannerClient.PlanejOperacao.MaquinaPlanejadaViewModel






<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Titulo</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->



<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <input id="config" value=@ViewBag.config hidden />
                <input id="oper" value=@ViewBag.operacao hidden />

                <div class="card-body">
                    <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Dados Cadastrais</a>
                        </li>


                    </ul>

                    <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form asp-action="@ViewBag.Acao">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="id" class="control-label"></label>
                                                    <input asp-for="id" class="form-control" id="id" readonly />
                                                    <input asp-for="idPlanejamento" value=@ViewBag.idplanejamento class="form-control" id="id" hidden />
                                                    <span asp-validation-for="id" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <div class="form-group">

                                                    <label asp-for="id" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            <select asp-for="idModeloMaquina" id="idModeloMaquina" class="form-control" asp-items="@ViewBag.modelos" onchange="changemodelo(0)"></select>

                                                        }
                                                        else
                                                        {
                                                            <select asp-for="idModeloMaquina" id="idModeloMaquina" class="form-control" asp-items="@ViewBag.modelos" disabled></select>
                                                        }


                                                    }
                                                    <span asp-validation-for="idModeloMaquina" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label asp-for="idMaquina" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            <select asp-for="idMaquina" id="idMaquina" class="form-control" onchange="changemaquina()"></select>

                                                        }
                                                        else
                                                        {
                                                            <select asp-for="idMaquina" id="idMaquina" class="form-control" disabled></select>
                                                        }
                                                    }
                                                    <span asp-validation-for="idMaquina" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="rendimento" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            <input asp-for="rendimento" class="form-control" id="rendimento" onchange="calctotalproduto()" readonly />
                                                        }
                                                        else
                                                        {
                                                            <input asp-for="rendimento" class="form-control" readonly />
                                                        }

                                                    }
                                                    <span asp-validation-for="rendimento" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="consumo" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            <input asp-for="consumo" class="form-control" id="consumo" onchange="calctotalproduto()" readonly />
                                                        }
                                                        else
                                                        {
                                                            <input asp-for="consumo" class="form-control" id="consumo" readonly />
                                                        }

                                                    }
                                                    <span asp-validation-for="consumo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="qtdHoraEstimada" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            <input asp-for="qtdHoraEstimada" class="form-control" id="qhoras" onchange="calctotalproduto()" />
                                                        }
                                                        else
                                                        {
                                                            <input asp-for="qtdHoraEstimada" class="form-control" readonly />
                                                        }

                                                    }
                                                    <span asp-validation-for="qtdHoraEstimada" class="text-danger"></span>
                                                </div>
                                            </div>
                                                <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="qtdCombEstimado" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            <input asp-for="qtdCombEstimado" class="form-control" id="qcomb" />
                                                        }
                                                        else
                                                        {
                                                            <input asp-for="qtdCombEstimado" class="form-control" readonly />
                                                        }

                                                    }
                                                    <span asp-validation-for="qtdCombEstimado" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col text-right">
                                                @{
                                                    if (ViewBag.idacao <= 2)
                                                    {
                                                        <button type="submit" class="btn btn-success">Salvar</button>
                                                    }
                                                    else
                                                    {
                                                        if (ViewBag.idacao == 3)
                                                        {
                                                            <button type="submit" class="btn btn-danger">Excluir</button>
                                                        }
                                                    }
                                                }

                                                <a href="/planejoperacao/adicionar?acao=2&id=@ViewBag.idplanejamento" class="btn btn-default">Voltar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section>

</div>

@section scripts
    {
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        -->
    <!-- Bootstrap 4 -->
    @*<script src="~/js/jquery.min.js"></script>*@

    <style>
        .custom-no-data {
            text-align: center;
            color: red;
            font-weight: bold;
        }
    </style>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="~/js/maquinas.js"></script>




    <script>
        $(document).ready(function () {
            // Adiciona um listener para o evento change


            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:,\d{3})+)?(?:\,\d+)?$/.test(value);
            }
            changemodelo(@ViewBag.idmaquina);

            // Simula a mudança de valor
        });



        function calculos() {
            
            if ($("#rendimento").val() != "") {
                rend = parseFloat($("#rendimento").val().replace(",", "."));
                if (rend!=0) 
                {
                    area = parseFloat(@ViewBag.area);
                    horas=area/rend;
                }
                else 
                {
                    horas=0;
                }
                hformatted = new Intl.NumberFormat('pt-BR').format(horas);
                $("#qhoras").val(hformatted);
                cons = parseFloat($("#consumo").val().replace(",", "."));
                comb = horas * cons;
                cformatted = new Intl.NumberFormat('pt-BR').format(comb);
                $("#qcomb").val(cformatted);
            }            

        }

        function changemodelo(maquina) 
        {
            loadmaquinas($("#idMaquina"), maquina, true, $("#idModeloMaquina").val(), "");
            buscaparametrooperacao($("#idModeloMaquina").val(), $("#idMaquina").val(), $("#config").val(), $("#oper").val(), 0, rendimento, consumo);
            rformatted = new Intl.NumberFormat('pt-BR').format(rendimento.valor);
            $("#rendimento").val(rformatted);
            cformatted = new Intl.NumberFormat('pt-BR').format(consumo.valor);
            $("#consumo").val(cformatted);
            calculos();
        }

        function changemaquina() 
        {
            buscaparametrooperacao($("#idModeloMaquina").val(), $("#idMaquina").val(), $("#config").val(), $("#oper").val(), 0, rendimento, consumo);
            rformatted = new Intl.NumberFormat('pt-BR').format(rendimento.valor);
            $("#rendimento").val(rformatted);
            cformatted = new Intl.NumberFormat('pt-BR').format(consumo.valor);
            $("#consumo").val(cformatted);
            calculos();
        }

    </script>
}
<!-- /.content -->
