

<!-- Content Header (Page header) -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
<link href="~/css/jsgridplanner.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/bs-stepper.min.css">
<link rel="stylesheet" href="~/css/loader.css">

<style>  
    .select2-container {
        display: inline-block;
    }

    .form-container {
        display: flex;
        flex-direction: column;
    }

    .submit-button {
        margin-left: 10px; /* Espaço entre o select e o botão */
    }

    .my-icon {
        color: blue; /* Define a cor do ícone */
    }

    .action-btn {
        margin-left: 10px;
        font-size: 12px;
    }

    .grid-container {
        display: flex;
        justify-content: space-between;
        align-items: left;
    }

    .js-grid {
        width: 50%;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button-container button {
            margin: 10px;
            padding: 10px;
    }

    .h1 {
        text-align: center;
        margin-bottom: 20px;
        font-family: Arial, sans-serif;
    }
   

.jsgrid .jsgrid-grid-body tr {
    height: 10px !important; /* Define a altura desejada */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.input-number {
    width: 80px; /* Define a largura do campo de entrada numérica */
    padding: 5px; /* Ajusta o preenchimento interno */
    font-size: 16px; /* Ajusta o tamanho da fonte */
}

.bs-stepper-content {
    margin-top: 15px;
}

</style>

<!-- Main content -->

<div id="executar-loader" class="fullscreen-backdrop">
    <span class="loader"></span>
</div>
<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="bs-stepper">
                        <div class="bs-stepper-header" role="tablist">
                            <div class="step" data-target="#select-areas">
                                <button type="button" class="step-trigger" role="tab" aria-controls="select-areas" id="select-areas-trigger">
                                    <span class="bs-stepper-circle">1</span>
                                    <span class="bs-stepper-label">Selecionar as Áreas</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#produtos-aplicados">
                                <button type="button" class="step-trigger" role="tab" aria-controls="produtos-aplicados" id="produtos-aplicados-trigger">
                                    <span class="bs-stepper-circle">2</span>
                                    <span class="bs-stepper-label">Produtos Aplicados</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#maquinas">
                                <button type="button" class="step-trigger" role="tab" aria-controls="maquinas" id="maquinas-trigger">
                                    <span class="bs-stepper-circle">3</span>
                                    <span class="bs-stepper-label">Máquinas</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#dados-execucao">
                                <button type="button" class="step-trigger" role="tab" aria-controls="dados-execucao" id="dados-execucao-trigger">
                                    <span class="bs-stepper-circle">4</span>
                                    <span class="bs-stepper-label">Dados da Execução</span>
                                </button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                            <div class="d-flex gap-2">
                                <button id="stepper-previous" class="btn btn-default" type="button" onclick="previousStep()">
                                    <img class="icon" src="/svg/icons/arrow-left.svg" />
                                    Voltar
                                </button><!--previous-->
                                <button id="stepper-next" class="btn btn-default" type="button" onclick="nextStep()">Próximo <img class="icon" src="/svg/icons/arrow-right.svg" /></button><!--next-->
                            </div>
                        </div>
                        
                        <div class="bs-stepper-content">
                            <div class="tab-panel content" id="select-areas" role="tabpanel" aria-labelledby="select-areas-tab">
                                <form asp-action="assistente">
                                    <button class="btn btn-default" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="filter">
                                        <img class="icon" src="/svg/icons/filter.svg" />
                                        Filtro
                                    </button>
                                    <div class="collapse mt-2" id="filter">
                                        <div class="card card-primary card-outline">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="d-flex gap-2 p-2">

                                                        <select class="select2" name="idsafra" id="idsafra" data-placeholder="Escolha uma safra" onchange="changesafra()" style="width: 100%;">
                                                            <option value="0">Escolha uma safra</option>
                                                            @foreach (var item in ViewBag.safras)
                                                            {
                                                                if (@item.Value == ViewBag.SelectedOptionS)
                                                                {
                                                                    <option value="@item.Value" selected>@item.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Value">@item.Text</option>
                                                                }
                                                            }
                                                        </select>

                                                        <select class="select2" name="idfazenda" id="idfaz" data-placeholder="Escolha a fazenda" onchange="changefaz()" style="width: 100%;">
                                                            <option value="0">Escolha a fazenda</option>
                                                            @foreach (var item in ViewBag.fazendas)
                                                            {
                                                                if (@item.Value == ViewBag.SelectedOptionF)
                                                                {
                                                                    <option value="@item.Value" selected>@item.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Value">@item.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                        <select class="select2" name="idtalhao" id="idtalhao" data-placeholder="escolha o talhão" style="width: 100%;">
                                                        </select>
                                                        <select class="select2" name="idvariedade" id="idvariedade" data-placeholder="escolha a variedade" style="width: 100%;">
                                                        </select>

                                                        <button type="submit" class="btn btn-md btn-default">
                                                            <img class="icon" src="/svg/icons/search.svg" />
                                                        </button>


                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Configurações de Áreas Disponíveis</h3>

                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="jstalhoes" class="js-grid"></div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>


                                    <div class="col-md-6">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Áreas Selecionados</h3>

                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="jstalhoesSelecionados" class="js-grid"></div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>

                            </div>

                            <div class="tab-panel content" id="produtos-aplicados" role="tabpanel" aria-labelledby="produtos-aplicados-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Escolha os produtos/princípios ativos e quantidades aplicados</h3>

                                            </div>
                                            <div class="card-body">
                                                <form id="adicionar-produto-form" class="row g-3" novalidate>
                                                    <div class="col-md-3 form-container">
                                                        <label for="idprincipio">Princípio Ativo</label>
                                                        <select class="select2 form-control" name="idprincipio" id="idprincipio" data-placeholder="Escolha um principio ativo" onchange="changeprincipio()" required>
                                                            <option value="0">Escolha um princípio</option>
                                                            @foreach (var item in ViewBag.principios)
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Campo obrigatório
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-container">
                                                        <label for="idproduto" id="lbprod">Produto</label>
                                                        <select class="select2 form-control" name="idproduto" id="idproduto" data-placeholder="Escolha um produto" required>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Campo obrigatório
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-container">
                                                        <label for="qtd" id="lbdose">Dosagem</label>
                                                        <input type="number" id="qtd" name="qtd" class="form-control" style="text-align: right;" />
                                                    </div>
                                                    <div class="col-md-3 mt-4 pt-4">
                                                        <button type="button" class="btn btn-md btn-default" onclick="addprodutos()">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Produtos Aplicados</h3>

                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="jsprodutos" class="js-grid"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>

                                </div>

                            </div>

                            <div class="tab-panel content" id="maquinas" role="tabpanel" aria-labelledby="maquinas-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Escolha as máquinas utilizadas</h3>
                                            </div>
                                            <div class="card-body">
                                                <form id="adicionar-maquina-form" class="row g-3" novalidate>
                                                    <div class="col-md-2 form-container">
                                                        <select class="form-control select2" name="idmodelo" id="idmodelo" data-placeholder="Escolha um modelo" onchange="changemodelo()">
                                                            @foreach (var item in ViewBag.modelos)
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Campo obrigatório
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-container">
                                                        <select class="form-control select2" name="idmaquina" id="idmaquina" data-placeholder="Escolha uma máquina">
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Campo obrigatório
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 form-container">
                                                        <div>
                                                            <button type="button" class="btn btn-md btn-default" onclick="addmaquinas()">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Máquinas Utilizadas</h3>

                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="jsmaquinas" class="js-grid"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>
                            </div>

                            <div class="tab-panel content" id="dados-execucao" role="tabpanel" aria-labelledby="dados-execucao-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Escolha a operação, data e DAE  para executar o assistente</h3>

                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-container col-md-3">
                                                        <label for="idoperacao">Escolha uma operação</label>
                                                        <select class="select2" name="idoperacao" id="idoperacao">
                                                        </select>

                                                    </div>
                                                    <div class="form-container form-check col-md-2 d-flex align-items-center justify-content-end">
                                                        <div class="">
                                                            <input class="form-check-input mb-2" type="checkbox" id="cbplantio" name="cbplantio" disabled>
                                                            <label class="form-check-label mb-1" for="cbplantio">Plantio?</label>
                                                        </div>
                                                    </div>


                                                    <div class="form-container col-md-2">
                                                        <label for="dtprev">Data Prevista</label>
                                                        <input type="date" class="form-control" id="dtprev" name="dtprev">

                                                    </div>

                                                    <div class="col-md-2 d-flex gap-3">
                                                        <div class="form-container">
                                                            <label for="dae">DAE</label>
                                                            <input type="number" id="dae" name="dae" class="form-control" style="text-align: right;" />
                                                        </div>
                                                        <div class="form-container">
                                                            <label>Executar</label>
                                                            <button type="button" class="btn btn-md btn-default" onclick="executar()">
                                                                <i class="fas fa-play"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Máquinas Utilizadas</h3>

                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="jsmaquinas" class="js-grid"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--<div class="tab-content" id="custom-content-above-tabContent">
                        
                        <a href="/planejoperacao/index" class="btn btn-danger">Voltar</a>
                    </div>-->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section>

    <button id="execute-message-trigger" type="button" style="display: none" data-toggle="modal" data-target="#execute-message"></button>

    <div id="execute-message" class="modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Informação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="execute-message-content"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- /.content -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

<!-- Bootstrap 4 -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="~/js/bs-stepper.min.js"></script>



<script src="~/js/loadtalhoes.js"></script>
<script src="~/js/loadvariedades.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script src="~/js/loadprodutos.js"></script>
<script src="~/js/maquinas.js"></script>
<script src="~/js/operacoes.js"></script>
<script>
    var talhoesSel=[];
    var talhoesDisp = [];
    var produtos=[];
    var maquinas=[];
    var stepper = null;
    $(document).ready(function () {

        $('#stepper-previous').prop('disabled', true);
        $('select').select2();

        $('#idproduto').on('select2:select', function(e) {
                var data = e.params.data;
                document.getElementById("lbdose").innerText ="Dosagem(" +data.und+")";

        });     


        $('#idoperacao').on('select2:select', function(e) {
                var data = e.params.data;
                if (data.plantio=="true")
                {
                    document.getElementById("cbplantio").checked = true;
                  //  document.getElementById("dae").disabled = true;
                  //  document.getElementById("dtprev").disabled = false;
                }
                else 
                {
                    document.getElementById("cbplantio").checked = false;
                    //document.getElementById("dae").disabled = false;
                    //document.getElementById("dtprev").disabled = true;
                }

        });
            
         changemodelo();

         loadoperacoes($('#idoperacao'),"0",true,0);
          //$('#idoperacao').val($('#idoperacao').val()).trigger('change');
     
         //   ajustafontselect2();
        $("#idfaz").val(@ViewBag.SelectedOptionF);
        //$('#idfazenda').trigger("change");
        changefaz();
        $("#idsafra").val(@ViewBag.SelectedOptionS);
   //     $("#idoperacao").val(@ViewBag.SelectedOptionO);
        //$('#idsafra').trigger("change");
        changesafra();

        loadtalhoesdisp();   
        startStepper();
    });

    function startStepper() {
        const stepperEl = document.querySelector('.bs-stepper');
        stepper = new Stepper(stepperEl, { linear: false });
        stepperEl.addEventListener('show.bs-stepper', function (event) {
            if (event.detail.indexStep === 0) {
                $('#stepper-previous').prop('disabled', true);
            } else if (event.detail.indexStep === 3) {
                $('#stepper-next').prop('disabled', true);
            } else {
                $('#stepper-previous').prop('disabled', false);
                $('#stepper-next').prop('disabled', false);
            }
        })
    }

    function previousStep() {
        stepper.previous()
    }

    function nextStep() {
        stepper.next()
    }

    function executar()
    {
        var planejoper=[];
        if (validacampos())
        {
            
            for (var i=0;i<=talhoesSel.length-1;i++)
            {
                prodoper=[]
                for (var j=0;j<=produtos.length-1;j++)
                {
                   prodoper.push({
                       "idproduto":produtos[j].idprod,
                       "idprincipio":produtos[j].idprinc,
                       "dosagem":produtos[j].dosagem,
                       "tamanho":talhoesSel[i].areaDisp,
                       "percent":talhoesSel[i].percent
                   });
                }

                maqoper=[]
                for (var j=0;j<=maquinas.length-1;j++)
                {
                   maqoper.push({
                       "idmaquina":maquinas[j].idmaquina,
                       "idmodelo":maquinas[j].idmodelo
                   });
                }



                planejoper.push({
                    "idconfig":talhoesSel[i].id,
                    "operacao":$('#idoperacao').val(),
                    "dae":$('#dae').val(),
                    "plantio":document.getElementById("cbplantio").checked,
                    "area":talhoesSel[i].areaDisp,
                    "dataprevista": $('#dtprev').val(),
                    "perc":talhoesSel[i].percent,
                    "produtos":prodoper,
                    "maquinas":maqoper
                    
                })
            }
            $('#executar-loader').css('display', 'flex');
            $.ajax({
            url: "/planejoperacao/GravarAssistente",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(planejoper),
            success: function (response) {
                $('#executar-loader').css('display', 'none');
                if (response.success) {
                    abrirModalInformacao(response.success);
                    location.reload();
                } else {
                    abrirModalInformacao(response.message);
                }
            },
            error: function (xhr, status, error) {
                abrirModalInformacao(`${response.message}\n${error}`);
            }
            });
         
        }
    }

    function abrirModalInformacao(texto) {
        $('#execute-message-content').text(texto);
        $('#execute-message-trigger').click();
    }

    function validacampos()
    {
        var retorno=true;
        msg="";
        if ($('#dtprev').val()==null || $('#dtprev').val()=='') {
            retorno=false;
            msg="Data prevista inválida";
        }
  /*      if ($('#dae').val()==null || $('#dae').val()==0) {
            retorno=false;
            msg="Preencha o DAE";
        } */ 
        if (talhoesSel.length==0)
        {
            retorno = false;
            msg = "Defina as áreas";

        }
        if (produtos.length==0)
        {
            retorno = false;
            msg = "Defina os produtos";

        }
        if (msg!="") 
        {
            abrirModalInformacao(msg);
        }
        return retorno;


    }

    function changeprincipio()
    {
        loadprodutos($("#idproduto"),"0", true, $("#idprincipio").val(),0,0,"");
    }

    function changemodelo()
    {
        loadmaquinas($("#idmaquina"),"0", true, $("#idmodelo").val(),"");
    }


    function loadtalhoesdisp()
    {
        $.ajax({
            type: "get",
            url: "/ConfigArea/GetData?idsafra=" + $("#idsafra").val() + "&idfazenda=" + $('#idfaz').val() + "&idtalhao=" + @ViewBag.SelectedOptionT+"&idvariedade=" + @ViewBag.SelectedOptionV,
            data: {},
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (obj) {
                if (obj != null) {
                    var data = obj;
                    $.each(data, function (i, d) {
                      talhoesDisp.push({"id":d.id,"descconfig":d.descconfig,"area":d.area,"areaDisp":d.area,"marcado":false});  
                    });

                }
                $("#jstalhoes").jsGrid("refresh");
            }
        });

    }
    

    function changefaz() {
        loadtalhoes(@ViewBag.SelectedOptionT, true);
    }

    function changesafra() {
        loadvariedades(@ViewBag.SelectedOptionV, true);
    }


    $(function () {
        $("#jstalhoes").jsGrid({
            width: "100%",
            height: "400px",

            sorting: true,
            paging: true,   
            editing:true,
           // autoload:true,

            //autoload: true,
            noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",
            data:talhoesDisp,

            /*
            
            controller: {
                loadData: function () {
                    return $.ajax({
                        type: "GET",
                        url: "/ConfigArea/GetData?idsafra=" + $("#idsafra").val() + "&idfazenda=" + $('#idfaz').val() + "&idtalhao=" + @ViewBag.SelectedOptionT+"&idvariedade=" + @ViewBag.SelectedOptionV,
                        dataType: "json"
                    });
                }
            },*/

            fields: [
                { name: "id", type: "number", width: 20, title: "ID", visible: false },
                { name: "descconfig", type: "text", width: 100, title: "Identificação", editing: false },
                { name: "area", type: "number", width: 50, title: "Área" ,visible: true,editing:false },
                //{ name: "areaProdutiva", type: "number", width: 60, title: "Área Total", editing: false },
                
                {
                itemTemplate: function (value, item) {
                    // Criando um botão para cada linha
                    var $button = $("<button>")
                        .addClass("btn btn-default")
                        .append($("<i>").addClass("fas fa-chevron-right"))
                        //.text("Transferir")
                        .on("click", function () {
                            // Ação ao clicar no botão
                            //alert("Nome: " + item.Name + "\nIdade: " + item.Age + "\nPaís: " + item.Country);
                        //args.item.marcado=(!args.item.marcado);
                        //i = talhoesDisp.findIndex(x => x.id == item.id);
                        talhoesSel.push({ "id": item.id, "descricao": item.descconfig, "areaDisp": item.area,"areaorig":item.area,"percent":100});
                        j = talhoesDisp.findIndex(x => x.id == item.id);
                        talhoesDisp.splice(j, 1);
                        $("#jstalhoes").jsGrid("refresh");
                        $("#jstalhoesSelecionados").jsGrid("refresh");

                        });

                    return $button;
                }
                //{ name: "marcado", type: "checkbox", width: 40, title: "Transf",editing:true }              
                }

            ]
        });
     
    });



    




    $(function () {
        $("#jstalhoesSelecionados").jsGrid({
            width: "100%",
            height: "400px",

            sorting: true,
            paging: true,
            editing:true,
            deleting:false,
            

            autoload: true,
            noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",
            /*
            controller: {
                loadData: function () {
                    return talhoeselecionados;
                }
            },*/
            data:talhoesSel,
            onItemUpdating: function (args) {
                // Validando se o salário é maior que zero
                if (args.item.areaDisp > args.item.areaorig || args.item.percent>100 || args.item.percent<=0) {
                    abrirModalInformacao("Área aplicada deverá ser menor que área configurada ou percentual inválido");
                    args.cancel = true;  // Cancelando a atualização
                }
            },
            onItemUpdated: function (args) {
                j = talhoesSel.findIndex(x => x.id == args.item.id);
                talhoesSel[j].areaDisp=args.item.areaDisp;    
                talhoesSel[j].percent=args.item.percent;
                $("#jstalhoesSelecionados").jsGrid("refresh");

            },


            fields: [
                { name: "id", type: "number", width: 20, title: "ID", visible: false },
                { name: "descricao", type: "text", width: 200, title: "Ident", editing:false },
                { name: "areaorig", type: "number", width: 40, title: "Área Total", visible: false, editing: false },
                { name: "areaDisp", type: "number", width: 50, title: "Área " ,visible: true , editing:true,
                    itemTemplate: function (value) {
                        return value.toFixed(2); // Formata o número com 2 casas decimais
                    },
                    editTemplate: function(value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    ,editValue: function () {
                        return parseFloat(this._editControl.val());
                    }
                },               
                { name: "percent", type: "number", width: 50, title: "% " ,visible: true , editing:true,
                    itemTemplate: function (value) {
                        return value.toFixed(2); // Formata o número com 2 casas decimais
                    },
                    editTemplate: function(value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    ,editValue: function () {
                        return parseFloat(this._editControl.val());
                    }
                },               


                {
                    title:"Ações",
                    width: 50,
                    itemTemplate: function (value, item) {
                        // Criando um botão para cada linha
                        var $button = $("<button>")
                            .addClass("btn btn-default")
                            .append($("<i>").addClass("fas fa-chevron-left"))
                            
                            .on("click", function () {
                                // Ação ao clicar no botão
                                //alert("Nome: " + item.Name + "\nIdade: " + item.Age + "\nPaís: " + item.Country);
                                //args.item.marcado=(!args.item.marcado);
                                //i = talhoesDisp.findIndex(x => x.id == item.id);
                                talhoesDisp.push({ "id": item.id, "descconfig": item.descricao,  "area": item.areaorig });
                                j = talhoesSel.findIndex(x => x.id == item.id);
                                talhoesSel.splice(j, 1);
                                $("#jstalhoes").jsGrid("refresh");
                                $("#jstalhoesSelecionados").jsGrid("refresh");

                            });

                        return $button;
                    }
                },              
                
                {
                    type: "control",deleteButton:false,editButton:true
                }
                ]
        });

    });

    $(function () {
            $("#jsprodutos").jsGrid({
                width: "100%",
                height: "400px",

                sorting: true,
                paging: true,
                editing: false,     
                deleting:false,

                autoload: true,
                noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",
                /*
                controller: {
                    loadData: function () {
                        return talhoeselecionados;
                    }
                },*/
                data: produtos,
                confirmDeleting: false,
            onItemDeleting: function (args) {
                var item = args.item;
                var j=produtos.findIndex(x=>x.id==item.id && x.tipo==item.tipo);
                if (j>=0) 
                {
                    produtos.splice(j,1);
                    $("#jsprodutos").jsGrid("refresh");
                }
            },


                fields: [
                    { name: "idprinc", type: "text", width: 20, title: "ID", visible: false },  
                    { name: "idprod", type: "text", width: 20, title: "ID", visible: false },
                    { name: "descprinc", type: "text", width: 150, title: "Princípio Ativo", editing: false },
                    { name: "descprod", type: "text", width: 150, title: "Produto", editing: false },
                    { name: "dosagem", type: "number", width: 50, title: "Dosagem", visible: true, editing: false },

                    {
                        type: "control", deleteButton: true, editButton: false
                    }
                ]
            });       

    });


    $(function () {
            $("#jsmaquinas").jsGrid({
                width: "100%",
                height: "400px",

                sorting: true,
                paging: true,
                editing: false,     
                deleting:false,

                autoload: true,
                noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",
                /*
                controller: {
                    loadData: function () {
                        return talhoeselecionados;
                    }
                },*/
                data: maquinas,
                confirmDeleting: false,
            onItemDeleting: function (args) {
                var item = args.item;
                var j=produtos.findIndex(x=>x.id==item.id && x.tipo==item.tipo);
                if (j>=0) 
                {
                    produtos.splice(j,1);
                    $("#jsprodutos").jsGrid("refresh");
                }
            },


                fields: [
                    { name: "idmodelo", type: "text", width: 20, title: "ID", visible: false },  
                    { name: "idmaquina", type: "text", width: 20, title: "ID", visible: false },
                    { name: "descmodelo", type: "text", width: 150, title: "Modelo", editing: false },
                    { name: "descmaquina", type: "text", width: 150, title: "Máquina", editing: false },
                    

                    {
                        type: "control", deleteButton: true, editButton: false
                    }
                ]
            });       

    });

    function addprodutos(event) {
        const form = $('#adicionar-produto-form');
        form[0].classList.add('was-validated');
        const idprincipio = $('#idprincipio');
        const idproduto = $('#idproduto');

        if (idprincipio.val() == '0') {
            idprincipio[0].classList.add('is-invalid');
            idprincipio[0].classList.remove('is-valid');
        } else {
            idprincipio[0].classList.add('is-valid');
            idprincipio[0].classList.remove('is-invalid');
        }
        if (idproduto.val() == '0') {
            idproduto[0].classList.add('is-invalid');
            idproduto[0].classList.remove('is-valid');
        } else {
            idproduto[0].classList.add('is-valid');
            idproduto[0].classList.remove('is-invalid');
        }
        if (!form[0].checkValidity() || idprincipio.val() == '0' || idproduto.val() == '0') {
            return;
        }


        if ($("#idprincipio").val()!="0" && $("#idproduto").val()!="0") 
        {         

            idprinc=$("#idprincipio").val();
            var select = document.getElementById("idprincipio");
            var selectedText = select.options[select.selectedIndex].text;
            var descprinc=selectedText;

            //if ($("#idproduto").val()!="0") {                
                idprod=$("#idproduto").val();
                var select = document.getElementById("idproduto");
                var selectedText = select.options[select.selectedIndex].text;
                var descprod=selectedText;                
            //}
            i=produtos.findIndex(x=>x.idprinc==idprinc && x.idprod==idprod);
            if (i<0)
            {
                produtos.push({"idprinc":parseInt(idprinc),"idprod":parseInt(idprod),"dosagem":$("#qtd").val(),"descprinc":descprinc,"descprod":descprod});
            }
            $("#jsprodutos").jsGrid("refresh");
        }
    }


    function addmaquinas()
    {
        const form = $('#adicionar-maquina-form');
        form[0].classList.add('was-validated');
        var idmodelo = $('#idmodelo');
        var idmaquina = $('#idmaquina');

        if (idmodelo.val() == '0') {
            idmodelo[0].classList.add('is-invalid');
            idmodelo[0].classList.remove('is-valid');
        } else {
            idmodelo[0].classList.add('is-valid');
            idmodelo[0].classList.remove('is-invalid');
        }
        if (idmaquina.val() == '0') {
            idmaquina[0].classList.add('is-invalid');
            idmaquina[0].classList.remove('is-valid');
        } else {
            idmaquina[0].classList.add('is-valid');
            idmaquina[0].classList.remove('is-invalid');
        }
        if (!form[0].checkValidity() || idmaquina.val() == '0' || idmodelo.val() == '0') {
            return;
        }

        if ($("#idmodelo").val()!="0" || $("#idmaquina").val()!="0") 
        {         

            idmodelo=$("#idmodelo").val();
            var select = document.getElementById("idmodelo");
            var selectedText = select.options[select.selectedIndex].text;
            var descmodelo=selectedText;
           
            idmaquina=$("#idmaquina").val();
            var select = document.getElementById("idmaquina");
            var selectedText = select.options[select.selectedIndex].text;
            var descmaquina=selectedText;                
           
            i=produtos.findIndex(x=>x.idmodelo==idmodelo && x.idmaquina==idmaquina);
            if (i<0)
            {
                maquinas.push({"idmodelo":parseInt(idmodelo),"idmaquina":parseInt(idmaquina),"descmodelo":descmodelo,"descmaquina":descmaquina});
            }
            $("#jsmaquinas").jsGrid("refresh");
        }

    }




      
        
</script>