<!-- Content Header (Page header) -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />


<style>
    /* Estilo padrão para o ícone */
    .icon-default {
        color: 38b6ff;
    }

    .select2-container {
        width: 250px !important; /* Ajuste o tamanho conforme necessário */
        display: inline-block;
    }

    .form-container {
        display: flex;
        align-items: center;
    }

    .submit-button {
        margin-left: 10px; /* Espaço entre o select e o botão */
    }

    .select2-container {
        width: 100% !important; /* Força a largura de 100% */
    }

    .select2-selection {
        width: 100% !important; /* Força a largura do container de seleção */
    }

    .jsgrid-cell {
        font-size: 0.85em;
        padding: 0.2em !important;
        line-height: 0.8;
    }

    .jsgrid-header-cell {
        font-size: 0.85em;
        padding: 0.2em !important;
        line-height: 1;
    }

    .subgrid {
        padding: 20px ;
    }




</style>


<!-- Main content -->
<section class="content">
    <form asp-action="Index">
        <div class="row">
            <div class="col-md-12">
                     <button class="btn btn-default" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="filter">
                    <img class="icon" src="/svg/icons/filter.svg" />
                    Filtro
                </button>

                <div class="collapse mt-2" id="filter">
                    <div class="card card-primary card-outline">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-container">

                                    <select class="select2" name="idsafra" id="idsafra" data-placeholder="escolha uma safra" style="width: 100%;">
                                        <option value="0">escolha uma safra</option>
                                        @foreach (var item in ViewBag.safras)
                                        {
                                            if (@item.Value == ViewBag.SelectedOptionS)
                                            {
                                                        <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                        <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-container">
                                    <select class="select2" name="idfazenda" id="idfaz" data-placeholder="escolha a fazenda"   style="width: 100%;">
                                        <option value="0">escolha a fazenda</option>
                                        @foreach (var item in ViewBag.fazendas)
                                        {
                                            if (@item.Value == ViewBag.SelectedOptionF)
                                            {
                                                        <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                        <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>                                    
                                </div>
                            </div>                       

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-container">
                                    <select class="select2" name="idprincipio" id="idprincipio" data-placeholder="escolha um princípio" style="width: 100%;" onchange="changeprincipio()">
                                        <option value="0">escolha um princípio</option>
                                        @foreach (var item in ViewBag.principios)
                                        {
                                            if (@item.Value == ViewBag.SelectedOptionP)
                                            {
                                                        <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                        <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>

                                </div>
                            </div>

                       

                            <div class="col-md-4">
                                <div class="form-container">
                                    <select class="select2" name="idproduto" id="idproduto" data-placeholder="escolha um produto" style="width: 100%;">
                                    
                                    </select>
                                    <button type="submit" class="btn btn-md btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </form>

    <h2>Planejamento de Compras</h2>
    <div class="col text-right">
        @if (ViewBag.permissao == true)
        {
            <a href="/planejamentocompra/adicionar?acao=1&idaz=@ViewBag.SelectedOptionF&idsafra=@ViewBag.SelectedOptionS" class="btn btn-default" role="button">
                <img class="icon" src="/svg/icons/plus.svg" />
            </a>
                
        }
    </div>

    <div id="jsGrid"></div>
    


</section>
<!-- /.content -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/5.39.0/css/tempus-dominus.min.css" rel="stylesheet">

<style>
    .custom-no-data {
        text-align: center;
        color: red;
        font-weight: bold;
    }
</style>
<!-- Bootstrap 4 -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/5.39.0/js/tempus-dominus.min.js"></script>
<script src="~/js/loadprodutos.js"></script>



<script>



    $(document).ready(function () {


        $('select').select2();






        //class=" btn btn-primary" > <i class="fas fa-plus icon-default" > </i></a >

    });

    function GravarPlanejcompras(id, necessidade, estoque, comprado, comprar, saldo) {
        var xtalhoes = {"id":id,"qtdNecessaria":necessidade,"qtdEstoque":estoque,"qtdComprada":comprado,"qtdComprar":comprar,"saldo":saldo};
        $.ajax({
            url: "/planejamentocompra/GravarLinha",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(xtalhoes),
            success: function (response) {
                if (!response.success) {
                    alert("Erro: " + response.message);
                } 
               
            },
            error: function (xhr, status, error) {
                alert("Erro na chamada AJAX: ", error);
            }
        });

    }

    

    $(function () {
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",

            sorting: true,
            paging: true,
            
            onItemUpdating: function (args) {
                
                GravarPlanejcompras(args.item.id, args.item.qtdNecessaria, args.item.qtdEstoque, args.item.qtdComprar,args.item.qtdComprada,args.item.saldo);
                args.item.qtdComprar=args.item.qtdNecessaria-args.item.qtdEstoque;
                args.grid.data[args.itemIndex].qtdComprar=args.item.qtdComprar;
                $("#jsgrid").jsGrid("refresh");

            },

            autoload: true,
            noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",

            controller: {
                loadData: function () {
                    return $.ajax({
                        type: "GET",
                        url: "/planejamentocompra/GetPlanejamento?idsafra=" + $("#idsafra").val() + "&idfazenda=" + $('#idfaz').val() + "&idprincipio=" + $('#idfaz').val(),
                        dataType: "json"
                    });
                }
            },

            fields: [
                { name: "id", type: "number", width: 20, title: "ID", visible: false },
                { name: "descFazenda", type: "text", width: 100, title: "Fazenda",editing:false },
                { name: "descSafra", type: "text", width: 100, title: "Safra", editing: false },
                { name: "descPrincipio", type: "text", width: 80, title: "Princípio Ativo", editing: false },
                {
                    name: "qtdNecessaria", type: "number", width: 40, editing: false
                    ,
                    headerTemplate: function () {
                        return "Necessidade";
                    }
                    /*,

                    itemTemplate: function (value) {
                        return value.toLocaleString('pt-BR');
                    },
                    editTemplate: function (value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    , editValue: function () {
                        return parseFloat(this._editControl.val());
                    }*/
                },
                {
                    name: "qtdEstoque", type: "number", width: 40
                    ,
                    headerTemplate: function () {
                        return "Estoque";
                    },

                    
                    itemTemplate: function (value) {
                        return value.toLocaleString('pt-BR');
                    },
                    editTemplate: function (value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    , editValue: function () {
                        return parseFloat(this._editControl.val());
                    }
                    
                },
                {
                    name: "qtdComprar", type: "number", width: 40,editing: false,

                    headerTemplate: function () {
                        return "A Comprar";
                    },

                    itemTemplate: function (value) {
                        return value.toLocaleString('pt-BR')
                    }
                    /*,
                    editTemplate: function (value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    , editValue: function () {
                        return parseFloat(this._editControl.val());
                    }
                    */
                },
                {
                    name: "qtdComprada", type: "number", width: 40,editing: false,

                    headerTemplate: function () {
                        return "Comprado";
                    },

                    itemTemplate: function (value) {
                        return value.toLocaleString('pt-BR')
                    }
                    /*,
                    editTemplate: function (value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    , editValue: function () {
                        return parseFloat(this._editControl.val());
                    }
                    */
                },
                {
                    name: "saldo", type: "number", width: 40, title: "Saldo",editing: false,
                    itemTemplate: function (value) {
                        return value.toLocaleString('pt-BR')
                    }
                    /*,
                    editTemplate: function (value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    , editValue: function () {
                        return parseFloat(this._editControl.val());
                    }
                    */
                }
                ,
                {
                    type: "control", deleteButton: false, editButton: ("@ViewBag.permissao"=="True")
                }
                
                
                ]
        });

        if ($("#idrole").val()=="UserV") {
            $("#jsGrid").jsGrid("option", "editing", false);
        } else {
            $("#jsGrid").jsGrid("option", "editing", true);
        }
    });


    function changeprincipio() 
    {
        loadprodutos($("#idproduto"), "0", true, $("#idprincipio").val(), 0, 0, "");
    }


</script>



