@model List<FarmPlannerClient.Conta.ContaViewModel>

@{
    ViewBag.Title = "Contas";
}

<form asp-action="Index">
    <div class="input-group input-group-sm" style="width: 300px;">
        <input type="text" class="form-control" placeholder="Buscar uma conta" name="filtro" value="@ViewBag.Filtro">
        <div class="input-group-append">
            <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div>
        @Html.ValidationSummary(true)
    </div>

</form>


<h2>Contas</h2>
   @{
      if (ViewBag.permissao==true)
        {
            <div class="col text-right">
                <a href="/conta/adicionar" class=" btn btn-primary">Nova conta</a>

            </div>
        }
   }

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ativa</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var reg in Model)
        {
            <tr data-toggle="collapse" data-target="#orderDetails-@reg.contaguid" class="accordion-toggle">
                <td>@reg.id</td>
                <td>@reg.nome</td>
                @if (reg.ativa == true)
                {
                    <td>
                        <i data-feather="check-square"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i data-feather="x-square"></i>
                    </td>

                }
                
                @{
                if (ViewBag.permissao==true)
                {
   
                    <td>

                        <a href="/conta/editar/@reg.id" class="btn btn-secondary btn-sm mr-1" title="Editar">
                            <span class="fas fa-edit"></span>
                        </a>

                    </td>
                }
                }

            </tr>
        }
    </tbody>
</table>
<div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
        @if (ViewBag.NumeroPagina > 1)
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "conta", new { Filtro = ViewBag.Filtro, Pagina = ViewBag.NumeroPagina - 1 })">&laquo;</a></li>
        }
        <li class="page-item page-link">Página @ViewBag.NumeroPagina de @ViewBag.TotalPaginas</li>
        @if (ViewBag.NumeroPagina < ViewBag.TotalPaginas)
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "conta", new { Filtro = ViewBag.Filtro, Pagina = ViewBag.NumeroPagina + 1 })">&raquo;</a></li>
        }
    </ul>
</div>



@section scripts {
    <script>


    </script>
}
