<!-- Content Header (Page header) -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />


<style>
    /* Estilo padrão para o ícone */
    .icon-default {
        color: 38b6ff;
    }

    .jsgrid-detail-grid {
        display: block;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .jsgrid .jsgrid-grid-body, .jsgrid .jsgrid-header {
        width: 100%;

    }

</style>


<!-- Main content -->
<section class="content">
    <form asp-action="Index">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title">Filtro</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">

                                    <select class="select2" name="idprincipio" id="idprincipio" data-placeholder="escolha o principio ativo" style="width: 100%;">
                                        <option value="0">escolha o principio atigo</option>
                                        @foreach (var item in ViewBag.principios)
                                        {
                                            if (@item.Value == ViewBag.SelectedOptionPR)
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>

                                </div>

                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <select class="select2" name="idfab" id="idfab" data-placeholder="escolha o fabricante" style="width: 100%;">
                                        <option value="0">escolha o fabricante</option>
                                        @foreach (var item in ViewBag.fabricantes)
                                        {
                                            if (@item.Value == ViewBag.SelectedOptionP)
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">

                                    <select class="select2" name="idgrupo" id="idgrupo" data-placeholder="escolha o grupo" style="width: 100%;">
                                        <option value="0">escolha o grupo</option>
                                        @foreach (var item in ViewBag.grupos)
                                        {
                                            if (@item.Value == ViewBag.SelectedOptionG)
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }

                                        }
                                    </select>

                                </div>

                            </div>
                            <div class="col-md-5">
                                <div class="input-group">

                                    <input type="search" class="form-control form-control-md" name="filtro" value="@ViewBag.filtro" placeholder="busca por nome,registro ou máscara">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-md btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </form>

    <h2>Produtos</h2>
    <div class="col text-right">
        <a href="/produto/adicionar?acao=1" class=" btn btn-primary"><i class="fas fa-plus icon-default"></i></a>

    </div>

    <div id="jsGrid"></div>
    
    <div id="detailGrid" class="jsgrid-detail-grid" style="display:none;"></div>
    

</section>
<!-- /.content -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

<style>
    .custom-no-data {
        text-align: center;
        color: red;
        font-weight: bold;
    }
</style>
<!-- Bootstrap 4 -->
@*<script src="~/js/jquery.min.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>*@
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@

<script src="~/js/formataregistro.js"></script>


<script>

    $(document).ready(function () {

        $('#idgrupo').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });
        $('#idprincipio').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });
        $('#idfab').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });


    });

    $(function () {
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",

            sorting: true,
            paging: true,
                        pageSize: 10,                 // Define o número de registros por página
            pageButtonCount: 5,          // Número de botões de navegação exibidos
            pagerFormat: "Páginas: {pages} {prev} {next} {first} {last}",  // Formato do pager,
            pageLoading: false, 
            pagePrevText: "Anterior", // Texto para o botão "Anterior"
            pageNextText: "Próximo",  // Texto para o botão "Próximo",
            pageFirstText: "Primeira",  // Adicionando "Primeira" página
            pageLastText: "Última",     // Adicionando "Última" página


            autoload: true,
            noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",

            controller: {
                loadData: function () {
                    return $.ajax({
                        type: "GET",
                        url: "/produto/GetData?idgrupo=" + $("#idgrupo").val() + "&idprincipio=" + $('#idprincipio').val() + "&idfab=" + $('#idfab').val()+"&filtro=@ViewBag.filtro",
                        dataType: "json"
                    });
                }
            },

            fields: [
                { name: "id", type: "number", width: 20, title: "ID", visible: false },
                { name: "descricao", type: "text", width: 200, title: "Descrição" },                
                { name: "descfab", type: "text", width: 100, title: "Fabricante" },
                {
                    type: "control",
                    headerTemplate: function () {
                        // Personalizando o header da coluna de controle
                        var $header = $("<th>")
                            .attr("title", "Princípios Ativos") // Adicionando o tooltip com title
                            .text("Princípios Ativos"); // Texto do header
                        return $header;
                    },
                    itemTemplate: function (value, item) {
                        var $detailButton = $("<button>")
                            .text("Ver")
                            .addClass("btn btn-primary")
                            .attr("title", "Ver")
                            .on("click", function () {
                                toggleDetails(item); // Alternar o grid de detalhes
                            });

                        return $detailButton;
                    }
                },

                {
                    type: "control",
                    itemTemplate: function (_, item) {
                        var $result = $("<div>").addClass("dropdown");

                        var $button = $("<button>").addClass("btn btn-info dropdown-toggle")
                            .attr("type", "button")
                            .attr("id", "dropdownMenuButton")
                            .attr("data-toggle", "dropdown")
                            .text("Ações");

                        var $menu = $("<div>").addClass("dropdown-menu")
                            .attr("aria-labelledby", "dropdownMenuButton");

                        var $details = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Visualizar")
                            .addClass("")
                            .on("click", function () {
                                window.location.href = '/produto/adicionar/' + item.id + '?acao=4';
                            });

                        var $edit = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Editar")
                            .on("click", function () {
                                window.location.href = '/produto/adicionar/' + item.id + '?acao=2';
                            });

                        var $delete = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Excluir")
                            .on("click", function () {
                                window.location.href = '/produto/adicionar/' + item.id + '?acao=3';
                            });
                        var $principio = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Definir Princípio Ativo")
                            .on("click", function () {
                                window.location.href = '/produto/adicionarprodutoprincipio?idproduto=' + item.id+"&idprincipio=0" + "&descproduto="+item.descricao+"&acao=1";
                            });


                        $menu.append($details).append($edit).append($delete).append($principio);
                        $result.append($button).append($menu);

                        return $result;
                    }
                }]
        });


        function toggleDetails(produto) {           


            var $row = $("#jsGrid").jsGrid("rowByItem", produto);

            // Verificar se o grid de detalhes já está visível
            if ($("#detailGrid").is(":visible") && $("#detailGrid").data("idproduto") === produto.id) {
                $("#detailGrid").hide(); // Ocultar o grid se ele já estiver visível para o mesmo cliente
            } else {
                // Inserir o template do grid de detalhes abaixo da linha selecionada
                $row.after($("#detailTemplate").html());
                $("#detailGrid").jsGrid({
                    width: "100%",
                    height: "300px",
                    inserting: false,
                    editing: false,
                    sorting: false,
                    paging: false,
                    autoload: true,
                    
                    noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",

                    controller: {
                        loadData: function () {
                            return $.ajax({
                                type: "GET",
                                url: "/produto/Getprincipioproduto?idproduto=" + produto.id,
                                dataType: "json"
                            });
                        }
                    },
                    fields: [                        
                        { name: "id", title: "Princípio Ativo", type: "text",visible:false, width: 20 },
                        { name: "descricao", title: "Descrição", type: "text", visible: false, width: 200 },
                        {
                            type: "control",
                            itemTemplate: function (_, item) {
                                var $result = $("<div>").addClass("dropdown");

                                var $button = $("<button>").addClass("btn btn-info dropdown-toggle")
                                    .attr("type", "button")
                                    .attr("id", "dropdownMenuButton")
                                    .attr("data-toggle", "dropdown")
                                    .text("Ações");

                                var $menu = $("<div>").addClass("dropdown-menu")
                                    .attr("aria-labelledby", "dropdownMenuButton");


                                var $edit = $("<a>").addClass("dropdown-item")
                                    .attr("href", "#")
                                    .text("Editar")
                                    .addClass("disabled")
                                    .on("click", function () {
                                        window.location.href = '/produto/adicionarprodutoprincipio?idproduto=' + item.idproduto+'&idprincipio='+item.idprincipio + '&acao=2';
                                    });

                                var $delete = $("<a>").addClass("dropdown-item")
                                    .attr("href", "#")
                                    .text("Excluir")
                                    .on("click", function () {
                                        window.location.href = '/produto/adicionarprodutoprincipio?idproduto=' + item.idproduto + '&idprincipio=' + item.idprincipio + '&acao=3';
                                    });

                                $menu.append($edit).append($delete);
                                $result.append($button).append($menu);

                                return $result;
                            }
                        }
                    ]
                });
                $("#detailGrid").insertAfter($row).show();
                $("#detailGrid").data("idproduto", produto.id);
                $("#detailGrid").jsGrid("refresh");
            }
        }

       

    });




</script>



