@model FarmPlannerClient.DefAreas.FazendaViewModel




<link rel="stylesheet" href="~/sweetalert2.min.css">
<!-- Toastr -->
<link rel="stylesheet" href="~/toastr.min.css">


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Titulo</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<style>
.jsgrid .jsgrid-grid-body tr {
            height: 20px; /* Define a altura desejada */
        }

</style>

<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">

                <div class="card-body">
                    <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Dados Cadastrais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-content-above-consolida-tab" data-toggle="pill" href="#custom-content-above-consolida" role="tab" aria-controls="custom-content-above-consolida" aria-selected="false">Talhões</a>
                        </li>

                    </ul>

                    <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                              <form asp-action="@ViewBag.Acao">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">   
                                                <div class="form-group">
                                                    <label asp-for="id" class="control-label"></label>
                                                     <input asp-for="id" class="form-control" id="idfazenda" readonly />
                                                    <span asp-validation-for="id" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label asp-for="descricao" class="control-label"></label>
                                                     @{
                                                        if (ViewBag.idacao <= 2)
                                                     {
                                                        <input asp-for="descricao" class="form-control" />
                                                     }
                                                     else
                                                     {
                                                        <input asp-for="descricao" class="form-control" readonly />
                                                     }

                                                     }
                                                    <span asp-validation-for="descricao" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="idUF" class="control-label"></label>
                                                    @{
                                                    if (ViewBag.idacao <= 2)
                                                    {

                                                        <select asp-for="idUF" id="iduf" class="form-control" onchange="loadcidades()" asp-items="@ViewBag.Ufs"></select>

                                                    }
                                                    else
                                                    {
                                                        <select asp-for="idUF" id="iduf" class="form-control" asp-items="@ViewBag.Ufs" disabled></select>
                                                    }
                                                    <span asp-validation-for="idUF" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="idMunicipio" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {

                                                            <select asp-for="idMunicipio" id="idmun"  class="form-control" asp-items="@ViewBag.municipios"></select>

                                                        }
                                                        else
                                                        {
                                                            <select asp-for="idMunicipio" id="idmun" class="form-control"   asp-items="@ViewBag.municipios" disabled></select>
                                                        }
                                                        <span asp-validation-for="idMunicipio" class="text-danger"></span>

                                                    }                                                
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="tipo" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {

                                                            <select asp-for="tipo" class="form-control" asp-items="@ViewBag.tipospropriedade" onchange="mudaprop()"></select>

                                                        }
                                                        else
                                                        {
                                                            <select asp-for="tipo" class="form-control" id="tipo" asp-items="@ViewBag.tipospropriedade" disabled></select>
                                                        }
                                                        <span asp-validation-for="tipo" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="tipoArrenda" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {

                                                            <select asp-for="tipoArrenda" class="form-control" id="tipoarrenda" onchange="mudacultura()" asp-items="@ViewBag.tiposarrenda"></select>

                                                        }
                                                        else
                                                        {
                                                            <select asp-for="tipoArrenda" class="form-control" asp-items="@ViewBag.tiposarrenda" disabled></select>
                                                        }
                                                        <span asp-validation-for="tipoArrenda" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="idCultura" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {

                                                            <select asp-for="idCultura" class="form-control" id="idcult" asp-items="@ViewBag.culturas"></select>

                                                        }
                                                        else
                                                        {
                                                            <select asp-for="idCultura" class="form-control" asp-items="@ViewBag.culturas" disabled></select>
                                                        }
                                                        <span asp-validation-for="idCultura" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="valorArrendamento" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            <input asp-for="valorArrendamento" class="form-control" id="idvalor" />
                                                        }
                                                        else
                                                        {
                                                            <input asp-for="valorArrendamento" class="form-control"  readonly />
                                                        }

                                                    }
                                                    <span asp-validation-for="valorArrendamento" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="idRegiao" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {

                                                            <select asp-for="idRegiao" class="form-control" asp-items="@ViewBag.regioes" ></select>

                                                        }
                                                        else 
                                                        {
                                                            <select asp-for="idRegiao" class="form-control" asp-items="@ViewBag.regioes" disabled></select>
                                                        }
                                                        <span asp-validation-for="idRegiao" class="text-danger"></span>
                                                
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="codigoExterno" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            <input asp-for="codigoExterno" class="form-control"   />
                                                        }
                                                        else
                                                        {
                                                            <input asp-for="codigoExterno" class="form-control"   readonly />
                                                        }

                                                    }
                                                    <span asp-validation-for="codigoExterno" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col text-right">
                                                @{
                                                    if (ViewBag.idacao <= 2)
                                                    {
                                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                                    }
                                                    else
                                                    {
                                                        if (ViewBag.idacao == 3)
                                                        {
                                                            <button type="submit" class="btn btn-primary">Excluir</button>
                                                        }
                                                    }
                                                }

                                                <a href="/defareas/index" class="btn btn-danger">Voltar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </form>
                        </div>
                        <div class="tab-pane fade" id="custom-content-above-consolida" role="tabpanel" aria-labelledby="custom-content-above-cosolida-tab">

                            <form asp-action="adicionartalhao">
                                <!--
                                <div class="input-group input-group-sm" style="width: 300px;">
                                    <input type="text" class="form-control" placeholder="Buscar talhão" name="filtro" id="searchInput" onkeyup="searchTable()">
                                </div>
                                -->
                                <div class="col text-right">
                                    <a href="/defareas/adicionartalhao?idfazenda=@Model!.id" button type="submit" class="btn btn-primary">Novo</a>
                                </div>


                                <div class="card-body table-responsive p-0">

                                    <div id="jsGridtalhao"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section>

</div>

<style>
    .custom-no-data {
        text-align: center;
        color: red;
        font-weight: bold;
    }

    .align-right {
        text-align: right;
    }
</style>

@section scripts
    {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/jsgrid@1.5.3/dist/jsgrid.min.js"></script>

    
    <script>
        $(document).ready(function () {
            // Adiciona um listener para o evento change

            $("#iduf").trigger('change');
            
            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:,\d{3})+)?(?:\,\d+)?$/.test(value);
            } 
            mudaprop();

            // Simula a mudança de valor
        });

        function mudaprop()
        {
            if ($("#tipo").val()==1) {
                $("#tipoarrenda").prop('disabled', false);
                $("#idvalor").prop('disabled', false);
            }
            else {
                $("#idvalor").prop('disabled', true);
                $("#tipoarrenda").prop('disabled', true);                
            }
            mudacultura();
        }

        function mudacultura()
        {
            if ($("#tipo").val() == 1 && $("#tipoarrenda").val() == 1) {
                $("#idcult").prop('disabled', false);
            }
            else {
                $("#idcult").prop('disabled', true);
            }

        }

        function loadcidades(uf)
        {
            $.ajax({
                type: "get",
                url: "/localidade/getcidades?iduf="+$("#iduf").val(),
                data: {},
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    if (obj != null) {
                        var data = obj;
                        var selectbox = $('#idmun');
                        selectbox.find('option').remove();                        
                        $.each(data, function (i, d) {
                            $('<option>').val(d.id).text(d.nome).appendTo(selectbox);
                        });
                        $('#idmun').val(@ViewBag.idcidade);
                    }
                }
            });
        }

        $(function () {
        $("#jsGridtalhao").jsGrid({
            width: "100%",
            height: "400px",

            sorting: true,
            paging: true,       
                onItemUpdating: function (args) {
                    
                },

            autoload: true,
            noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",

            controller: {
                loadData: function () {
                    return $.ajax({
                        type: "GET",
                        url: "/defareas/Gettalhoes?idfazenda="+$("#idfazenda").val()+"&filtro=@ViewBag.filtro",
                        dataType: "json"
                    });
                }
            },

            fields: [
                { name: "id", type: "number", width: 20, title: "ID",visible:false },
                { name: "descricao", type: "text", width: 150, title: "Identificação",filtering:true,
                        filterTemplate: function () {
                            var $input = this.filterControl = $("<input>").attr("type", "text");
                            $input.on("keypress", function (e) {
                                if (e.which === 13) { // Enter key pressed
                                    $("#jsGridtalhao").jsGrid("search");
                                }
                            });
                            return $input;
                        },
                        filterValue: function () {
                            return this.filterControl.val();
                        }
                },
                { name: "areaProdutiva", type: "number", width: 25, title: "Área", align: "right",
                        itemTemplate: function (value) { return $("<div>").addClass("align-right").text(value.toFixed(2)); },
                        headerTemplate: function () { return $("<div>").addClass("align-right").text("Área"); }
                    },

                {
                    type: "control",
                    itemTemplate: function (_, item) {
                        var $result = $("<div>").addClass("dropdown");

                        var $button = $("<button>").addClass("btn btn-info dropdown-toggle")
                            .attr("type", "button")
                            .attr("id", "dropdownMenuButton")
                            .attr("data-toggle", "dropdown")
                            .text("Ações");

                        var $menu = $("<div>").addClass("dropdown-menu")
                            .attr("aria-labelledby", "dropdownMenuButton");

                        var $details = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Visualizar")
                            .on("click", function () {
                                window.location.href = '/defareas/adicionartalhao/' + item.id + '?acao=4';
                            });

                        var $edit = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Editar")
                            .on("click", function () {
                                window.location.href = '/defareas/adicionartalhao/' + item.id + '?acao=2';
                            });

                        var $delete = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Excluir")
                            .on("click", function () {
                                window.location.href = '/defareas/adicionartalhao/' + item.id + '?acao=3';
                            });

                        $menu.append($details).append($edit).append($delete);
                        $result.append($button).append($menu);

                        return $result;
                    }
                }]
        });
    });

    </script>
}
<!-- /.content -->