

<!-- Content Header (Page header) -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />



<style>
    /* Estilo padrão para o ícone */
    .icon-default {
        color: 38b6ff;
    }

    .select2-container {
        width: 250px !important; /* Ajuste o tamanho conforme necessário */
        display: inline-block;
    }

    .form-container {
        display: flex;
        align-items: center;
    }

    .submit-button {
        margin-left: 10px; /* Espaço entre o select e o botão */
    }

    .my-icon {
        color: blue; /* Define a cor do ícone */
    }

    .action-btn {
        margin-left: 10px;
        font-size: 12px;
    }

    .grid-container {
        display: flex;
        justify-content: space-between;
        align-items: left;
    }

    .js-grid {
        width: 45%;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button-container button {
            margin: 10px;
            padding: 10px;
    }

    .h1 {
        text-align: center;
        margin-bottom: 20px;
        font-family: Arial, sans-serif;
    }
   

.jsgrid .jsgrid-grid-body tr {
            height: 10px !important; /* Define a altura desejada */
        }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield; /* Firefox */
    }

</style>

<!-- Main content -->
<section class="content">
    <form asp-action="assistente">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Filtro</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" disabled>
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-container">

                                    <select class="select2" name="idfazenda" id="idfaz" data-placeholder="escolha a fazenda"  style="width: 100%;">

                                        @foreach (var item in ViewBag.fazendas)
                                        {
                                            if (@item.Value == ViewBag.SelectedOptionF)
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>

                                    <button type="submit" class="btn btn-md btn-default">
                                        <i class="fa fa-search my-icon"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-8">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Dados da execução</h3>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-container">

                                   <select class="select2" name="idsafra" id="idsafra" data-placeholder="escolha uma safra" onchange="changesafra()" style="width: 100%;">
                                   <option></option>
                                   @foreach (var item in ViewBag.safras)
                                   {
                                      <option value="@item.Value">@item.Text</option>
                                    }
                                   </select>

                                    <select class="select2" name="idvariedade" id="idvariedade" data-placeholder="fixe uma variedade" style="width: 100%;">
                        
                                    </select>

                                    <button type="button" class="btn btn-md btn-default" onclick="gravar()">Executar
                                        
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


        </div>
    </form>

    <div class="row">
    <div class="col-md-5">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Talhões Disponíveis</h3>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="jstalhoes" class="js-grid"></div> 
                    </div>

                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>


    <div class="col-md-7">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Talhões Selecionados</h3>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="jstalhoesSelecionados" class="js-grid"></div>
                    </div>

                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    </div>

    
        
             
        
        
    

    
</section>
<!-- /.content -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

<style>
    .custom-no-data {
        text-align: center;
        color: red;
        font-weight: bold;
    }
</style>
<!-- Bootstrap 4 -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>



<script src="~/js/loadtalhoes.js"></script>
<script src="~/js/loadvariedades.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script>
    var talhoesSel=[];
    var talhoesDisp = [];
    $(document).ready(function () {

        $('#idsafra').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true

        });
        $('#idfaz').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true

        });

        $('#idvariedade').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true

        });

        loadtalhoesdisp();

        
  
       

    });

    function loadtalhoesdisp()
    {
        $.ajax({
            type: "get",
            url: "/configarea/GetTalhoesDisponiveis?idfazenda=" + $("#idfaz").val(),
            data: {},
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (obj) {
                if (obj != null) {
                    var data = obj;
                    $.each(data, function (i, d) {
                      talhoesDisp.push({"id":d.id,"descricao":d.descricao,"areaProdutiva":d.areaProdutiva,"areaDisp":d.areaDisp,"marcado":false});  
                    });

                }
                $("#jstalhoes").jsGrid("refresh");
            }
        });

    }

    function changesafra() {
        loadvariedades("0", true);
    }

    $(function () {
        $("#jstalhoes").jsGrid({
            width: "100%",
            height: "500px",

            sorting: true,
            paging: true,   
            editing:true,

            //autoload: true,
            noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",
            data:talhoesDisp,

            
            /*
            controller: {
                loadData: function () {
                    return $.ajax({
                        type: "GET",
                        url: "/ConfigArea/GetTalhoesDisponiveis?idfazenda=" + $('#idfaz').val(),
                        dataType: "json"
                    });
                }
            },*/

            fields: [
                { name: "id", type: "number", width: 20, title: "ID", visible: false },
                { name: "descricao", type: "text", width: 100, title: "Identificação", editing: false },
                { name: "areaDisp", type: "number", width: 50, title: "Área Disp" ,visible: true,editing:false },
                { name: "areaProdutiva", type: "number", width: 60, title: "Área Total", editing: false },
                { name: "config", type: "text", width: 100, title: "Configurado?", editing: false,
                    itemTemplate: function (value, item) {
                        if (item.areaDisp!=item.areaProdutiva)
                        {
                            return "Sim"
                        }
                        else return "Nâo"
                        
                   
                    }

                },
                {
                itemTemplate: function (value, item) {
                    // Criando um botão para cada linha
                    var $button = $("<button>")
                        .addClass("btn btn-primary")
                        .append($("<i>").addClass("fas fa-chevron-right"))
                        //.text("Transferir")
                        .on("click", function () {
                            // Ação ao clicar no botão
                            //alert("Nome: " + item.Name + "\nIdade: " + item.Age + "\nPaís: " + item.Country);
                        //args.item.marcado=(!args.item.marcado);
                        //i = talhoesDisp.findIndex(x => x.id == item.id);
                        talhoesSel.push({ "id": item.id, "descricao": item.descricao, "areaProdutiva": item.areaProdutiva, "areaDisp": item.areaDisp,"areaorig":item.areaDisp,"media":0 });
                        j = talhoesDisp.findIndex(x => x.id == item.id);
                        talhoesDisp.splice(j, 1);
                        $("#jstalhoes").jsGrid("refresh");
                        $("#jstalhoesSelecionados").jsGrid("refresh");

                        });

                    return $button;
                }
                //{ name: "marcado", type: "checkbox", width: 40, title: "Transf",editing:true }              
                }

            ]
        });
     
    });

    $(function () {
        $("#jstalhoesSelecionados").jsGrid({
            width: "100%",
            height: "500px",

            sorting: true,
            paging: true,
            editing:true,
            deleting:false,
            

            autoload: true,
            noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",
            /*
            controller: {
                loadData: function () {
                    return talhoeselecionados;
                }
            },*/
            data:talhoesSel,
            onItemUpdating: function (args) {
                // Validando se o salário é maior que zero
                if (args.item.areaDisp > args.item.areaorig) {
                    //alert("O salário deve ser maior que zero.");
                    args.cancel = true;  // Cancelando a atualização
                }
            },
            onItemUpdated: function (args) {
                j = talhoesSel.findIndex(x => x.id == args.item.id);
                talhoesSel[j].areaDisp=args.item.areaDisp;    
                talhoesSel[j].media=args.item.media;   
                $("#jstalhoesSelecionados").jsGrid("refresh");

            },


            fields: [
                { name: "id", type: "number", width: 20, title: "ID", visible: false },
                { name: "descricao", type: "text", width: 40, title: "Ident", editing:false },
                { name: "areaorig", type: "number", width: 40, title: "Área Total", visible: true, editing: false },
                { name: "areaDisp", type: "number", width: 50, title: "Área " ,visible: true , editing:true,
                    itemTemplate: function (value) {
                        return value.toFixed(2); // Formata o número com 2 casas decimais
                    },
                    editTemplate: function(value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    ,editValue: function () {
                        return parseFloat(this._editControl.val());
                    }
                },
                {
                    name: "media", type: "number", width: 50, title: "Produt", visible: true, editing: true,
                    itemTemplate: function (value) {
                        return value.toFixed(2); // Formata o número com 2 casas decimais
                    },
                    editTemplate: function (value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    , editValue: function () {
                        return parseFloat(this._editControl.val());
                    }
                },
                { name: "areaprodutiva", type: "number", width: 100, title: "Área Total", visible:false},

                {
                    itemTemplate: function (value, item) {
                        // Criando um botão para cada linha
                        var $button = $("<button>")
                            .addClass("btn btn-primary")
                            .append($("<i>").addClass("fas fa-chevron-left"))
                            
                            .on("click", function () {
                                // Ação ao clicar no botão
                                //alert("Nome: " + item.Name + "\nIdade: " + item.Age + "\nPaís: " + item.Country);
                                //args.item.marcado=(!args.item.marcado);
                                //i = talhoesDisp.findIndex(x => x.id == item.id);
                                talhoesDisp.push({ "id": item.id, "descricao": item.descricao, "areaProdutiva": item.areaProdutiva, "areaDisp": item.areaorig });
                                j = talhoesSel.findIndex(x => x.id == item.id);
                                talhoesSel.splice(j, 1);
                                $("#jstalhoes").jsGrid("refresh");
                                $("#jstalhoesSelecionados").jsGrid("refresh");

                            });

                        return $button;
                    }
                },              
                
                {
                    type: "control",deleteButton:false,editButton:true
                  /*  
                    itemTemplate: function (_, item) {
                        var $result = $("<div>").addClass("dropdown");

                        var $button = $("<button>").addClass("btn btn-info dropdown-toggle")
                            .attr("type", "button")
                            .attr("id", "dropdownMenuButton")
                            .attr("data-toggle", "dropdown")
                            .text("Ações");

                        var $menu = $("<div>").addClass("dropdown-menu")
                            .attr("aria-labelledby", "dropdownMenuButton");

                        var $edit = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Editar Área")
                            .on("click", function () {
                                
                            });                       

                        $menu.append($edit);
                        $result.append($button).append($menu);

                        return $result;
                        
                    }*/
                }
                ]
        });


        $("#jstalhoesSelecionados").on("dblclick", ".jsgrid-row", function (e) {
            // Obtendo os dados da linha clicada
            var rowIndex = $(this).index();
            var rowData = $("#jstalhoesSelecionados").jsGrid("option", "data")[rowIndex];
            
            
            talhoesDisp.push({ "id": rowData.id, "descricao": rowData.descricao, "areaProdutiva": rowData.areaProdutiva, "areaDisp": rowData.areaDisp });
            j = talhoesSel.findIndex(x => x.id == rowData.id);
            talhoesSel.splice(j, 1);
            $("#jstalhoes").jsGrid("refresh");
            $("#jstalhoesSelecionados").jsGrid("refresh");
            

//            e.stopPropagation(); // Impede a propagação do evento de duplo clique
//            e.preventDefault();  // Previne qualquer ação padrão, como a edição
        });

    });

    function gravar()
    {
        var xtalhoes=[];
        for (var i=0;i<talhoesSel.length;i++)
        {
            xtalhoes.push({"id":0,"idSafra":$("#idsafra").val(),"idTalhao":talhoesSel[i].id,"idVariedade": $("#idvariedade").val(), "area": talhoesSel[i].areaDisp, "populacaoRecomendada":0,
                "germinacao": 0, "pms": 0, "espacamento": 0, "margemSeguranca": 0, "stand": 0, "unidadeSementePrevista":0,
                "qtdSementePrevista": 0, "prodEstimada":talhoesSel[i].media , "idconta":"@ViewBag.contaid","idfazenda":null,"uid":"@ViewBag.uid",
                "datains":null,"dataup":null});
        }
        $.ajax({
            url: "/configarea/GravarAssistente",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(xtalhoes),
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    location.reload();
                } else {
                    alert("Erro: " + response.message);
                }
            },
            error: function (xhr, status, error) {
                alert("Erro na chamada AJAX: ", error);
            }
        });

    }
</script>