<!-- Content Header (Page header) -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />


<style>
    /* Estilo padrão para o ícone */
    .icon-default {
        color: 38b6ff;
    }

    .select2-container {
        width: 250px !important; /* Ajuste o tamanho conforme necessário */
        display: inline-block;
    }

    .form-container {
        display: flex;
        align-items: center;
    }

    .submit-button {
        margin-left: 10px; /* Espaço entre o select e o botão */
    }



    html {
        font-family: 'Roboto', sans-serif !important;
        font-size: 14px;
    }

    body {
        font-family: 'Roboto', sans-serif !important;
        font-size: 14px;
    }


</style>


<!-- Main content -->
<section class="content">
    <form asp-action="Index">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title">Filtro</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-container">

                                    <select class="select2" name="idsafra" id="idsafra" data-placeholder="escolha uma safra" onchange="changesafra()"style="width: 100%;">
                                        <option value="0">escolha uma safra</option>
                                        @foreach (var item in ViewBag.safras)
                                        {
                                            if (@item.Value == ViewBag.SelectedOptionS)
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>

                                    <select class="select2" name="idfazenda" id="idfaz" data-placeholder="escolha a fazenda" onchange="changefaz()"  style="width: 100%;">
                                        <option value="0">escolha a fazenda</option>
                                        @foreach (var item in ViewBag.fazendas)
                                        {
                                            if (@item.Value == ViewBag.SelectedOptionF)
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>                                    
                                    <select class="select2" name="idtalhao" id="idtalhao" data-placeholder="escolha o talhão" style="width: 100%;">
                                    </select>
                                    <select class="select2" name="idvariedade" id="idvariedade" data-placeholder="escolha a variedade" style="width: 100%;">
                                    </select>

                                    <button type="submit" class="btn btn-md btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                   

                                </div>
                         
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </form>

    <h2>Configuração de Áreas</h2>
    <div class="col text-right">
          @if (ViewBag.permissao == true)
        {
            <a href="/ConfigArea/adicionar?acao=1&idaz=@ViewBag.SelectedOptionF&idsafra=@ViewBag.SelectedOptionS" class=" btn btn-primary"><i class="fas fa-plus icon-default"></i></a>
            <a href="/ConfigArea/assistente" class=" btn btn-primary">Assistente</a>
        }
    </div>
    
    <div id="jsGrid"></div>


</section>
<!-- /.content -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

<style>
    .custom-no-data {
        text-align: center;
        color: red;
        font-weight: bold;
    }
</style>
<!-- Bootstrap 4 -->
@*<script src="~/js/jquery.min.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>*@
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@


<script src="~/js/loadtalhoes.js"></script>
<script src="~/js/loadvariedades.js"></script>

<script>

    

    $(document).ready(function () {

        $('#idsafra').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });
        $('#idfaz').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });
        $('#idtalhao').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });




        $('#idvariedade').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });

        $("#idfaz").val(@ViewBag.SelectedOptionF);
        //$('#idfazenda').trigger("change");
        changefaz();
        $("#idsafra").val(@ViewBag.SelectedOptionS);
        //$('#idsafra').trigger("change");
        changesafra();
        //class=" btn btn-primary" > <i class="fas fa-plus icon-default" > </i></a >

    });

   function changefaz()
   {
       loadtalhoes(@ViewBag.SelectedOptionT,true);
   }

    function changesafra() {
        loadvariedades(@ViewBag.SelectedOptionV,true);
    }
   


    $(function () {
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",

            sorting: true,
            paging: true,
            pageSize: 10,                 // Define o número de registros por página
            pageButtonCount: 5,          // Número de botões de navegação exibidos
            pagerFormat: "Páginas: {pages} {prev} {next} {first} {last}",  // Formato do pager,
            pageLoading: false,
            pagePrevText: "Anterior", // Texto para o botão "Anterior"
            pageNextText: "Próximo",  // Texto para o botão "Próximo",
            pageFirstText: "Primeira",  // Adicionando "Primeira" página
            pageLastText: "Última",     // Adicionando "Última" página


            autoload: true,
            noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",

            controller: {
                loadData: function () {
                    return $.ajax({
                        type: "GET",
                        url: "/ConfigArea/GetData?idsafra=" + $("#idsafra").val() + "&idfazenda=" + $('#idfaz').val() + "&idtalhao=" + @ViewBag.SelectedOptionT+"&idvariedade=" + @ViewBag.SelectedOptionV,
                        dataType: "json"
                    });
                }
            },

            fields: [
                { name: "id", type: "number", width: 20, title: "ID", visible: false },
                { name: "descsafra", type: "text", width: 100, title: "Safra" },
                { name: "descfazenda", type: "text", width: 100, title: "Fazenda" },
                { name: "desctalhao", type: "text", width: 100, title: "Talhão" },
                { name: "descvariedade", type: "text", width: 100, title: "Variedade" },
                { name: "area", type: "number", width: 45, title: "Área" },
                
                {
                    type: "control",
                    itemTemplate: function (_, item) {
                        var $result = $("<div>").addClass("dropdown");

                        var $button = $("<button>").addClass("btn btn-info dropdown-toggle")
                            .attr("type", "button")
                            .attr("id", "dropdownMenuButton")
                            .attr("data-toggle", "dropdown")
                            .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                            .text("Ações");

                        var $menu = $("<div>").addClass("dropdown-menu")
                            .attr("aria-labelledby", "dropdownMenuButton");

                        var $details = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Visualizar")
                            .on("click", function () {
                                window.location.href = '/ConfigArea/adicionar/' + item.id + '?acao=4';
                            });

                        var $edit = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Editar")
                            .on("click", function () {
                                window.location.href = '/ConfigArea/adicionar/' + item.id + '?acao=2';
                            });

                        var $delete = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Excluir")
                            .on("click", function () {
                                window.location.href = '/ConfigArea/adicionar/' + item.id + '?acao=3';
                            });

                        $menu.append($details).append($edit).append($delete);
                        $result.append($button).append($menu);

                        return $result;
                    }
                }]
        });
    });





</script>



