<!-- Content Header (Page header) -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
<link href="~/css/jsgridplanner.css" rel="stylesheet">


<style>
    /* Estilo padrão para o ícone */
    .icon-default {
        color: 38b6ff;
    }

    .select2-container {
        width: 250px !important; /* Ajuste o tamanho conforme necessário */
        display: inline-block;
    }

 
    .form-container {
        display: flex;
        align-items: center;
    }

    .submit-button {
        margin-left: 10px; /* Espaço entre o select e o botão */
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield; /* Firefox */
    }

    


</style>


<!-- Main content -->
<section class="content">
    <form asp-action="planejplantio">
        <div class="row">
            <div class="col-md-12">
                <input id="idrole" value="@ViewBag.userrole" hidden />
                <button class="btn btn-default" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="filter">
                    <img class="icon" src="/svg/icons/filter.svg" />
                    Filtro
                </button>

                <div class="collapse mt-2" id="filter">
                    <div class="card card-primary card-outline">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-container">

                                    <select class="select2" name="idsafra" id="idsafra" data-placeholder="escolha uma safra" onchange="changesafra()"style="width: 100%;">
                                        <option value="0">escolha uma safra</option>
                                        @foreach (var item in ViewBag.safras)
                                        {
                                            if (@item.Value == ViewBag.SelectedOptionS)
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>

                                    <select class="select2" name="idfazenda" id="idfaz" data-placeholder="escolha a fazenda" onchange="changefaz()"  style="width: 100%;">
                                        <option value="0">escolha a fazenda</option>
                                        @foreach (var item in ViewBag.fazendas)
                                        {
                                            if (@item.Value == ViewBag.SelectedOptionF)
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>                                    
                                    <select class="select2" name="idtalhao" id="idtalhao" data-placeholder="escolha o talhão" style="width: 100%;">
                                    </select>
                                    <select class="select2" name="idvariedade" id="idvariedade" data-placeholder="escolha a variedade" style="width: 100%;">
                                    </select>

                                    <button type="submit" class="btn btn-md btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                   

                                </div>
                         
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </form>

    <h2>Planejamento do Plantio</h2>
    
    <div id="jsGrid"></div>


</section>
<!-- /.content -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

<style>
    .custom-no-data {
        text-align: center;
        color: red;
        font-weight: bold;
    }
</style>
<!-- Bootstrap 4 -->
@*<script src="~/js/jquery.min.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>*@
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@


<script src="~/js/loadtalhoes.js"></script>
<script src="~/js/loadvariedades.js"></script>
<script src="~/js/Comuns.js"></script>


<script>

    var tempermissao;
   
 

    $(document).ready(function () {

        if ("ViewBag.userrole" != "UserV") {
            tempermissao=true;
        }
        else {
            tempermissao=false;
        }

        $('#idsafra').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true
            


        });

        $('#idfaz').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });
        $('#idtalhao').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });
        




        $('#idvariedade').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });

        ajustafontselect2();


        //$('#idsafra').on('select2:open', function () {
        //    $('.select2-dropdown .select2-results__option').css('font-size', '14px');
       // });

        $("#idfaz").val(@ViewBag.SelectedOptionF);
        //$('#idfazenda').trigger("change");
        changefaz();
        $("#idsafra").val(@ViewBag.SelectedOptionS);
        //$('#idsafra').trigger("change");
        changesafra();
        //class=" btn btn-primary" > <i class="fas fa-plus icon-default" > </i></a >
        loadtalhoesdisp();
    });

   function changefaz()
   {
       loadtalhoes(@ViewBag.SelectedOptionT,true);
   }

    function changesafra() {
        loadvariedades(@ViewBag.SelectedOptionV,true);
    }
   

    function GravarPlanejplantio(id,populacao,espacamento,germinacao,seguranca,pms)
    {
        var xtalhoes = [{"id":id,"populacaoRecomendada":populacao,"espacamento":espacamento,"germinacao":germinacao,"margemSeguranca":seguranca,"pms":pms}];
        $.ajax({
            url: "/configarea/GravarPlanejPlantio",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(xtalhoes),
            success: function (response) {
                if (!response.success) {
                    alert("Erro: " + response.message);
                } 
            },
            error: function (xhr, status, error) {
                alert("Erro na chamada AJAX: ", error);
            }
        });

    }

    

    $(function () {
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",

            sorting: true,
            paging: true,
            
            onItemUpdated: function (args) {
                
                GravarPlanejplantio(args.item.id, args.item.populacaoRecomendada, args.item.espacamento, args.item.germinacao,args.item.margemSeguranca,args.item.pms);
                $("#jsgrid").jsGrid("refresh");

            },

            autoload: true,
            noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",

            controller: {
                loadData: function () {
                    return $.ajax({
                        type: "GET",
                        url: "/ConfigArea/GetPlanejamento?idsafra=" + $("#idsafra").val() + "&idfazenda=" + $('#idfaz').val() + "&idtalhao=" + @ViewBag.SelectedOptionT+"&idvariedade=" + @ViewBag.SelectedOptionV,
                        dataType: "json"
                    });
                }
            },

            fields: [
                { name: "id", type: "number", width: 20, title: "ID", visible: false },
                { name: "descconfig", type: "text", width: 120, title: "Safra/Fazenda/Talhão/Variedade",editing:false },
                { name: "populacaoRecomendada", type: "number", width: 30,
                    headerTemplate: function () {
                        return "População<br>Plantas/ha";
                    },
                    itemTemplate: function (value) {
                        return value.toLocaleString('pt-BR')
                    },
                    editTemplate: function (value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    , editValue: function () {
                        return parseFloat(this._editControl.val());
                    }

                },
                { name: "espacamento", type: "number", width: 35
                    ,
                    headerTemplate: function () {
                        return "Espaçamento<br>cm";
                    },

                    itemTemplate: function (value) {
                        return value.toLocaleString('pt-BR');
                    },
                    editTemplate: function (value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    , editValue: function () {
                        return parseFloat(this._editControl.val());
                    }
                },
                {
                    name: "germinacao", type: "number", width: 30, 

                    headerTemplate: function () {
                        return "Germinação<br>%";
                    },

                    itemTemplate: function (value) {
                        return value.toLocaleString('pt-BR')
                    },
                    editTemplate: function (value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    , editValue: function () {
                        return parseFloat(this._editControl.val());
                    }
                },
                {
                    name: "margemSeguranca", type: "number", width: 30,

                    headerTemplate: function () {
                        return "Segurança<br>%";
                    },

                    itemTemplate: function (value) {
                        return value.toLocaleString('pt-BR')
                    },
                    editTemplate: function (value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    , editValue: function () {
                        return parseFloat(this._editControl.val());
                    }
                },
                {
                    name: "pms", type: "number", width: 30, title: "PMS(g)",
                    itemTemplate: function (value) {
                        return value.toLocaleString('pt-BR')
                    },
                    editTemplate: function (value) {
                        var $input = $("<input>").attr("type", "number").attr("step", "0.01").val(value);
                        this._editControl = $input;
                        return $input;
                    }
                    , editValue: function () {
                        return parseFloat(this._editControl.val());
                    }
                }
                ,{
                    type: "control", deleteButton: false, editButton: ("@ViewBag.permissao"=="True")
                }
                
                ]
        });

        if ($("#idrole").val()=="UserV") {
            $("#jsGrid").jsGrid("option", "editing", false);
        } else {
            $("#jsGrid").jsGrid("option", "editing", true);
        }
    });





</script>



