@model List<FarmPlannerClient.PrincipioAtivo.PrincipioAtivoViewModel>

@{
    ViewBag.Title = "Princípio Ativo";
}

<form asp-action="Index">
    <div class="input-group input-group-sm" style="width: 300px;">
        <input type="text" class="form-control" placeholder="Buscar principio" name="filtro" value="@ViewBag.Filtro">
        <div class="input-group-append">
            <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div>
        @Html.ValidationSummary(true)
    </div>

</form>


<h2>Princípio Ativo</h2>
    <div class="col text-right">
        @if (ViewBag.permissao == true)
        {
        <a href="/principioativo/adicionar" cclass="btn btn-default" role="button">
            <img class="icon" src="/svg/icons/plus.svg" />
        </a>
    }                
    </div>





<div id="jsGrid"></div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

<style>
    .custom-no-data {
        text-align: center;
        color: red;
        font-weight: bold;
    }
</style>
<!-- Bootstrap 4 -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>


<script src="~/js/formataregistro.js"></script>


<script>

    $(document).ready(function () {



    });

    $(function () {
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",

            sorting: true,
            paging: true,

            autoload: true,
            noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",

            controller: {
                loadData: function () {
                    return $.ajax({
                        type: "GET",
                        url: "/principioativo/GetData?idorganizacao=" + $('#idorg').val() + "&filtro=@ViewBag.filtro",
                        dataType: "json"
                    });
                }
            },

            fields: [
                { name: "id", type: "number", width: 20, title: "ID", visible: false },
                { name: "descricao", type: "text", width: 80, title: "Descrição" },
                {
                    type: "control",
                    itemTemplate: function (_, item) {
                        var $result = $("<div>").addClass("dropdown");

                        var $button = $("<button>").addClass("btn btn-default dropdown-toggle")
                            .attr("type", "button")
                            .attr("id", "dropdownMenuButton")
                            .attr("data-toggle", "dropdown")
                            .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                            .text("Ações");

                        var $menu = $("<div>").addClass("dropdown-menu")
                            .attr("aria-labelledby", "dropdownMenuButton");

                        var $details = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Visualizar")
                            .on("click", function () {
                                window.location.href = '/principioativo/editar/' + item.id;
                            });

                        var $edit = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Editar")
                            .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                            .on("click", function () {
                                window.location.href = '/principioativo/editar/' + item.id + '?acao=2';
                            });

                        var $delete = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Excluir")
                            .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                            .on("click", function () {
                                window.location.href = '/principioativo/excluir/' + item.id;
                            });

                        $menu.append($details).append($edit).append($delete);
                        $result.append($button).append($menu);

                        return $result;
                    }
                }]
        });
    });




</script>