@model List<FarmPlannerClient.Produto.UnidadeViewModel>

@{
    ViewBag.Title = "Unidades";
}

<form asp-action="Index">
    <div class="input-group input-group-sm" style="width: 300px;">
        <input type="text" class="form-control" placeholder="Buscar regiao" name="filtro" value="@ViewBag.Filtro">
        <div class="input-group-append">
            <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div>
        @Html.ValidationSummary(true)
    </div>

</form>


<h2>Unidade</h2>
                        <div class="col text-right">
                            <a href="/unidade/adicionar" class=" btn btn-primary">Nova Unidade</a>                        
                         
                        </div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reg in Model)
        {
            <tr data-toggle="collapse" data-target="#orderDetails-@reg.id" class="accordion-toggle">
                <td>@reg.id</td>
                <td>@reg.descricao</td>
              
                <td>

                    <a href="/unidade/editar/@reg.id" class="btn btn-secondary btn-sm mr-1" title="Editar">
                        <span class="fas fa-edit"></span>
                    </a>

                    <a href="/unidade/excluir/@reg.id" class="btn btn-secondary btn-sm mr-1" title="Excluir">
                        <span class="fas fa-trash"></span>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
<div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
        @if (ViewBag.NumeroPagina > 1)
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "regiao", new { Filtro = ViewBag.Filtro, Pagina = ViewBag.NumeroPagina - 1 })">&laquo;</a></li>
        }
        <li class="page-item page-link">Página @ViewBag.NumeroPagina de @ViewBag.TotalPaginas</li>
        @if (ViewBag.NumeroPagina < ViewBag.TotalPaginas)
        {
<li class="page-item"><a class="page-link" href="@Url.Action("Index", "regiao", new { Filtro = ViewBag.Filtro, Pagina = ViewBag.NumeroPagina + 1 })">&raquo;</a></li>
        }
    </ul>
</div>



@section scripts {
<script>
    
   
</script>
}