@model ADUSClient.Parceiro.ParceiroViewModel

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Editar um Parceiro de Negócio</h1>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <section class="content" style="overflow-y: auto; max-height: calc(100vh - 150px);">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <form asp-action="editar">
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Campo ID -->
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label asp-for="id"></label>
                                    <input asp-for="id" class="form-control" readonly />
                                </div>
                            </div>
                        </div>

                        <!-- Dados principais -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="razaoSocial"></label>
                                    <input asp-for="razaoSocial" class="form-control" />
                                    <span asp-validation-for="razaoSocial" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="fantasia"></label>
                                    <input asp-for="fantasia" class="form-control" />
                                    <span asp-validation-for="fantasia" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="tipodePessoa"></label>
                                    <select asp-for="tipodePessoa" class="form-control" asp-items="@ViewBag.TiposPessoa"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="registro"></label>
                                    <input asp-for="registro" class="form-control" />
                                    <span asp-validation-for="registro" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="sexo"></label>
                                    <select asp-for="sexo" class="form-control" asp-items="@ViewBag.TipoSexo"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="estadoCivil"></label>
                                    <select asp-for="estadoCivil" class="form-control" asp-items="@ViewBag.TipoEstadoCivil"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="dtNascimento"></label>
                                    <input asp-for="dtNascimento" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="profissao"></label>
                                    <input asp-for="profissao" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="idRepresentante"></label>
                                    <select asp-for="idRepresentante" class="form-control" asp-items="@ViewBag.Representantes"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="cep"></label>
                                    <input asp-for="cep" class="form-control" onchange="buscarEndereco()" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="logradouro"></label>
                                    <input asp-for="logradouro" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="numero"></label>
                                    <input asp-for="numero" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="complemento"></label>
                                    <input asp-for="complemento" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="bairro"></label>
                                    <input asp-for="bairro" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="fone1"></label>
                                    <input asp-for="fone1" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="fone2"></label>
                                    <input asp-for="fone2" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="iduf"></label>
                                    <input asp-for="nomeuf" id="iduf" class="form-control"  disabled/>
                                    <input asp-for="iduf" type="hidden" id="huf" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="idCidade"></label>
                                    <input asp-for="nomecidade" id="idmun" class="form-control" disabled/>
                                    <input asp-for="idCidade" id="hcidade" type="hidden" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="email"></label>
                                    <input asp-for="email" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="accordion mt-4" id="accordionPerfis">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingPerfis">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePerfis" aria-expanded="false" aria-controls="collapsePerfis">
                                        Perfis e Comissões
                                    </button>
                                </h2>
                                <div id="collapsePerfis" class="accordion-collapse collapse" aria-labelledby="headingPerfis" data-bs-parent="#accordionPerfis">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-12">


                                                <div class="form-check form-check-inline">
                                                    <input asp-for="isassinante" class="form-check-input" type="checkbox" />
                                                    <label asp-for="isassinante" class="form-check-label"></label>
                                                </div>

                                                <div class="form-check form-check-inline">
                                                    <input asp-for="isbanco" class="form-check-input" type="checkbox" />
                                                    <label asp-for="isbanco" class="form-check-label"></label>
                                                </div>

                                                <div class="form-check form-check-inline">
                                                    <input asp-for="isafiliado" class="form-check-input" type="checkbox" />
                                                    <label asp-for="isafiliado" class="form-check-label"></label>
                                                </div>

                                                <div class="form-check form-check-inline">
                                                    <input asp-for="iscoprodutor" class="form-check-input" type="checkbox" />
                                                    <label asp-for="iscoprodutor" class="form-check-label"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="idcoprodutor"></label>
                                                    <select asp-for="idcoprodutor" class="form-control" asp-items="@ViewBag.coprodutores"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="percomissao"></label>
                                                    <input asp-for="percomissao" class="form-control" id="percomissao" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label asp-for="urlafiliado"></label>
                                                    <input asp-for="urlafiliado" class="form-control">
                                                    <button type="button" class="btn btn-outline-secondary" onclick="gerarLinkAfiliado()">Gerar Link</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col text-right">
                                <button type="submit" class="btn btn-success">Salvar</button>
                                <a href="/parceiro/index" class="btn btn-default">Voltar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
@section scripts {
    <script>
        var cidades = []

        $(document).ready(function () {
            // Executa no carregamento da página
            toggleCamposCoprodutor();

            // Executa ao mudar estado dos checkboxes
            $('#iscoprodutor, #isafiliado').on('change', function () {
                toggleCamposCoprodutor();
            });
            
            $('#idmun').trigger('change');

        });


        function formatCpfCnpj(input) {
            let value = input.value.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
            let formattedValue;

            if (value.length <= 11) { // Formatação de CPF
                formattedValue = value.replace(/(\d{3})(\d)/, '$1.$2')
                    .replace(/(\d{3})(\d)/, '$1.$2')
                    .replace(/(\d{3})(\d{1,2})$/, '$1-$2');
            } else { // Formatação de CNPJ
                formattedValue = value.replace(/^(\d{2})(\d)/, '$1.$2')
                    .replace(/^(\d{2})\.(\d{3})(\d)/, '$1.$2.$3')
                    .replace(/\.(\d{3})(\d)/, '.$1/$2')
                    .replace(/(\d{4})(\d{1,2})$/, '$1-$2');
            }

            input.value = formattedValue;
        }

        function mudatipopessoa() {
            if ($("#tipopessoa").val() == "Jurídica") {
                $("#idrepresentante").prop('disabled', false);
                $("#sexo").prop('disabled', true);
                $("#estadocivil").prop('disabled', true);
                $("#sexo").val("Indiferente");
                $("#estadocivil").val("Indiferente");
            }
            else {
                $("#idrepresentante").prop('disabled', true);
                $("#idrepresentante").val(null);
                $("#sexo").prop('disabled', false);
                $("#estadocivil").prop('disabled', false);

            }
        }


        function loadcidades(ibge) {
            $.ajax({
                type: "get",
                url: "/localidade/getcidadebyibge?ibge="+ibge,
                data: {},
                dataType: 'json',
                aSync:false,
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    if (obj != null) {
                        var data = obj;
                   //     $("#idmun").val(data.nome);
                   //     $("#iduf").val(data.siglauf);
                        $("#huf").val(data.idUF);
                        $("#hcidade").val(data.id);
                    }
                }
            });
        }




        function buscarEndereco() {
            const cep = document.getElementById("cep").value.replace(/\D/g, "");

            if (cep.length !== 8) {
                alert("CEP inválido. Deve conter 8 dígitos.");
                return;
            }

            fetch(`https://viacep.com.br/ws/${cep}/json/`)
                .then(response => response.json())
                .then(data => {
                    if (data.erro) {
                        alert("CEP não encontrado.");
                    } else {
                        document.getElementById("logradouro").value = data.logradouro;
                        document.getElementById("bairro").value = data.bairro;
                        document.getElementById("idmun").value = data.localidade;
                        document.getElementById("iduf").value = data.uf;


                        loadcidades(data.ibge);


                    }
                })
                .catch(error => {
                    console.error("Erro ao buscar o CEP:", error);
                    alert("Erro ao buscar o CEP.");
                });
        }


        

        function toggleCamposCoprodutor() {
            const isCoprodutor = $('#iscoprodutor').is(':checked');
            const isAfiliado = $('#isafiliado').is(':checked');

            const habilitar = isCoprodutor || isAfiliado;

            $('#idcoprodutor').prop('disabled', !habilitar);
            $('#percomissao').prop('disabled', !habilitar);
        }

        function gerarLinkAfiliado() {
            const idParceiro = document.getElementById("id").value;

            if (!idParceiro) {
                alert("ID do parceiro não encontrado.");
                return;
            }

            const url = `https://localhost:7030/home/index?afiliado=${idParceiro}&plataforma=asaas`;
            document.getElementById("urlafiliado").value = url;
        }




    </script>
}

<!-- /.content -->