@model FarmPlannerClient.PedidoCompra.PedidoCompraViewModel




<style>
    fieldset {
        border: 2px solid #008cba;
        padding: 10px;
        margin: 20px 0;
        border-radius: 5px;
    }

    legend {
        
        color: #008cba;
    }

    .custom-header {
        text-align: right; /* ou left, center */
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Titulo</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->



<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">

                <div class="card-body">
                    <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Dados Cadastrais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-content-above-consolida-tab" data-toggle="pill" href="#custom-content-above-consolida" role="tab" aria-controls="custom-content-above-consolida" aria-selected="false">Produtos</a>
                        </li>

                    </ul>


                    <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                              <form asp-action="@ViewBag.Acao">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">   
                                                <div class="form-group">
                                                    <label asp-for="id" class="control-label"></label>
                                                     <input asp-for="id" class="form-control" id="id" readonly />
                                                    <span asp-validation-for="id" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label asp-for="idsafra" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                    //        if (ViewBag.idacao == 1)
                                                    //        {
                                                    //            <select asp-for="idModeloMaquina" id="idmodelo" value="@ViewBag.idmodelo" class="form-control" asp-items="@ViewBag.modelos"></select>
                                                    //        }
                                                    //        else
                                                    //        {
                                                            <select asp-for="idsafra" id="idconfig" class="form-control" asp-items="@ViewBag.safras"  ></select>
                                                     //       }                                                           

                                                        }
                                                        else
                                                        {
                                                            <select asp-for="idsafra" id="idsafra" class="form-control" asp-items="@ViewBag.safras" disabled></select>
                                                        }
                                                        <span asp-validation-for="idsafra" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label asp-for="idfazenda" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                        //      if (ViewBag.idacao == 1)
                                                            //      {
                                                            //          <select asp-for="idCultura" id="idcultura" value="@ViewBag.idcultura" class="form-control" asp-items="@ViewBag.culturas"></select>
                                                            //      }
                                                            //      else
                                                            //      {

                                                            <select asp-for="idfazenda" id="idFazenda" class="form-control" asp-items="@ViewBag.fazendas"></select>
                                                            //     }
                                                        }
                                                        else
                                                        {
                                                            <select asp-for="idfazenda" id="idFazenda" class="form-control" asp-items="@ViewBag.fazendas" disabled></select>
                                                        }
                                                    }
                                                </div>
                                            </div>

                                         </div>
                                     
                                    


                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                <label asp-for="idfornecedor" class="control-label"></label>
                                                @{
                                                    if (ViewBag.idacao <= 2)
                                                    {
                                                        //        if (ViewBag.idacao == 1)
                                                        //        {
                                                        //            <select asp-for="idModeloMaquina" id="idmodelo" value="@ViewBag.idmodelo" class="form-control" asp-items="@ViewBag.modelos"></select>
                                                        //        }
                                                        //        else
                                                        //        {
                                                        <select asp-for="idfornecedor" id="idfornecedor" class="form-control" asp-items="@ViewBag.fornecedores"></select>
                                                        //       }

                                                    }
                                                    else
                                                    {
                                                        <select asp-for="idfornecedor" id="idsafra" class="form-control" asp-items="@ViewBag.fornecedores" disabled></select>
                                                    }
                                                    <span asp-validation-for="idfornecedor" class="text-danger"></span>

                                                }
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="idmoeda" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            //      if (ViewBag.idacao == 1)
                                                            //      {
                                                            //          <select asp-for="idCultura" id="idcultura" value="@ViewBag.idcultura" class="form-control" asp-items="@ViewBag.culturas"></select>
                                                            //      }
                                                            //      else
                                                            //      {

                                                            <select asp-for="idmoeda" id="idmoeda" class="form-control" asp-items="@ViewBag.moedas"></select>
                                                            //     }
                                                        }
                                                        else
                                                        {
                                                            <select asp-for="idmoeda" id="idmoeda" class="form-control" asp-items="@ViewBag.moedas" disabled></select>
                                                        }
                                                    }
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="datapedido" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            //        if (ViewBag.idacao == 1)
                                                            //        {
                                                            //            <select asp-for="idModeloMaquina" id="idmodelo" value="@ViewBag.idmodelo" class="form-control" asp-items="@ViewBag.modelos"></select>
                                                            //        }
                                                            //        else
                                                            //        {
                                                            <input type="date"    asp-for="datapedido" id="datapedido" class="form-control"/>
                                                            //       }

                                                        }
                                                        else
                                                        {
                                                            <input type="date" asp-for="datapedido" id="datapedido" class="form-control" readonly />
                                                        }
                                                        <span asp-validation-for="idfornecedor" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                
                                                    <label asp-for="vencimento" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            //        if (ViewBag.idacao == 1)
                                                            //        {
                                                            //            <select asp-for="idModeloMaquina" id="idmodelo" value="@ViewBag.idmodelo" class="form-control" asp-items="@ViewBag.modelos"></select>
                                                            //        }
                                                            //        else
                                                            //        {
                                                            <input type="date" asp-for="vencimento" id="vencimento" class="form-control" />
                                                            //       }

                                                        }
                                                        else
                                                        {
                                                            <input type="date" asp-for="vencimento" id="vencimento" class="form-control" readonly />
                                                        }
                                                        <span asp-validation-for="idfornecedor" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">

                                                    <label asp-for="pedidofonecedor" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            //        if (ViewBag.idacao == 1)
                                                            //        {
                                                            //            <select asp-for="idModeloMaquina" id="idmodelo" value="@ViewBag.idmodelo" class="form-control" asp-items="@ViewBag.modelos"></select>
                                                            //        }
                                                            //        else
                                                            //        {
                                                            <input asp-for="pedidofonecedor" id="pedidofonecedor" class="form-control" />
                                                            //       }

                                                        }
                                                        else
                                                        {
                                                            <input asp-for="pedidofonecedor" id="pedidofonecedor" class="form-control" readonly />
                                                        }
                                                        <span asp-validation-for="pedidofonecedor" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>
                                         </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">

                                                    <label asp-for="observacao" class="control-label"></label>
                                                    @{
                                                        if (ViewBag.idacao <= 2)
                                                        {
                                                            <input asp-for="observacao" id="observacao" class="form-control" />


                                                        }
                                                        else
                                                        {
                                                            <input asp-for="observacao" id="observacao" class="form-control" readonly />
                                                        }
                                                        <span asp-validation-for="observacao" class="text-danger"></span>

                                                    }
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col text-right">
                                                @{
                                                    if (ViewBag.idacao <= 2)
                                                    {
                                                                <button type="submit" class="btn btn-primary" >Salvar</button>
                                                    }
                                                    else
                                                    {
                                                        if (ViewBag.idacao == 3)
                                                        {
                                                                 <button type="submit" class="btn btn-primary">Excluir</button>
                                                        }
                                                    }
                                                }

                                                <a href="/pedidocompra/index" class="btn btn-danger">Voltar</a>
                                            </div>
                                        </div>
                                    </div>
                                
                             </form>
                        </div>

                        <div class="tab-pane fade" id="custom-content-above-consolida" role="tabpanel" aria-labelledby="custom-content-above-cosolida-tab">

                            <form asp-action="adicionar" method="get">
                                <div class="row">


                                    <div class="col-md-5">
                                        <div class="form-container">
                                            <input name="acao" value="2" hidden/>
                                            <select class="select2" name="idproduto" id="idproduto" data-placeholder="escolha um produto" style="width: 100%;">
                                                <option value="0">escolha um produto</option>
                                                @foreach (var item in ViewBag.produtos)
                                                {
                                                    if (@item.Value == ViewBag.SelectedOptionPr)
                                                    {
                                                        <option value="@item.Value" selected>@item.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-2">
                                        <div class="form-container">

                                           
                                            <button type="submit" class="btn btn-md btn-default">
                                                <i class="fa fa-search"></i>
                                            </button>


                                        </div>
                                    </div>

                                </div>
                            </form>
                            <div class="col text-right">
                                <a href="/pedidocompra/adicionarproduto?idpedido=@Model!.id&acao=1" button type="submit" class="btn btn-primary"><i class="fas fa-plus icon-default"></i></a>
                            </div>


                            <div class="card-body table-responsive p-0">
                                <div id="jsprodutos"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section>

</div>

<style>
    .custom-no-data {
        text-align: center;
        color: red;
        font-weight: bold;
    }

    .align-right {
        text-align: right;
    }
</style>

@section scripts
    {

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    
        <script src="https://cdn.jsdelivr.net/npm/jsgrid@1.5.3/dist/jsgrid.min.js"></script>

          

        <script>
        var talhoes = [];
            $(document).ready(function () {
                // Adiciona um listener para o evento change


            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:,\d{3})+)?(?:\,\d+)?$/.test(value);
            }
            // Simula a mudança de valor

            $('select').select2();
            
            });

    


        $(function () {
            $("#jsprodutos").jsGrid({
                width: "100%",
                height: "auto",

                sorting: true,
                paging: true,
                
                onItemUpdating: function (args) {

                },

                autoload: true,
                noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",

                controller: {
                    loadData: function () {
                        return $.ajax({
                            type: "GET",
                            url: "/pedidocompra/getproduto",
                            data:{idpedido:@ViewBag.id,                            
                            idproduto:@ViewBag.SelectedOptionPr},
                            dataType: "json"
                        });
                    }
                },

                fields: [
                    { name: "id", type: "number", width: 20, title: "ID", visible: false },

                    {                        
                        name: "descproduto", type: "text", width: 100, title: "Produto"
                    },
                    {
                        name: "qtdcompra", type: "number", width: 80, title: "Comprado"
                    },

                    {
                        name: "preco", type: "number", width: 80, title: "Preço"
                    },

                    {
                        name: "total", type: "number", width: 80, 

                        headerTemplate: function () {
                            return "Total"
                            //return $("<th>").text("Vl Unitário").addClass("custom-header");
                        }
                    },
                    {
                        name: "recebido", type: "number", width: 80,

                        headerTemplate: function () {
                            return "Recebido"
                            //return $("<th>").text("Vl Unitário").addClass("custom-header");
                        }
                    },


                    {
                        type: "control",
                        itemTemplate: function (_, item) {
                            var $result = $("<div>").addClass("dropdown");

                            var $button = $("<button>").addClass("btn btn-info dropdown-toggle")
                                .attr("type", "button")
                                .attr("id", "dropdownMenuButton")
                                .attr("data-toggle", "dropdown")
                                .text("Ações");

                            var $menu = $("<div>").addClass("dropdown-menu")
                                .attr("aria-labelledby", "dropdownMenuButton");

                            var $details = $("<a>").addClass("dropdown-item")
                                .attr("href", "#")
                                .text("Visualizar")
                                .on("click", function () {
                                    window.location.href = '/pedidocompra/adicionarproduto/' + item.id + '?acao=4';
                                });

                            var $edit = $("<a>").addClass("dropdown-item")
                                .attr("href", "#")
                                .text("Editar")
                                .on("click", function () {
                                    window.location.href = '/pedidocompra/adicionarproduto/' + item.id + '?acao=2';
                                });

                            var $delete = $("<a>").addClass("dropdown-item")
                                .attr("href", "#")
                                .text("Excluir")
                                .on("click", function () {
                                    window.location.href = '/pedidocompra/adicionarproduto/' + item.id + '?acao=3';
                                });



                            $menu.append($details).append($edit).append($delete);
                            $result.append($button).append($menu);

                            return $result;
                        }
                    }]
            });
        });


      



        </script>
}
<!-- /.content -->
