@model List<FarmPlannerClient.Cultura.CulturaViewModel>

@{
    ViewBag.Title = "Culturas";
}

<form asp-action="Index">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Filtro</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-filter"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-5">
                            <div class="input-group">

                                <input type="search" class="form-control form-control-md" name="filtro" value="@ViewBag.filtro" placeholder="busca por descrição">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-md btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</form>


<h2>Culturas</h2>
@if (ViewBag.permissao == true)
{
    <div class="col text-right">
        <a href="/cultura/adicionar" class=" btn btn-primary">Nova Cultura </a>

    </div>

}
<div id="jsGrid"></div>
<div id="detailGrid" class="jsgrid-detail-grid" style="display:none;"></div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

<style>
    .custom-no-data {
        text-align: center;
        color: red;
        font-weight: bold;
    }
</style>
<!-- Bootstrap 4 -->
@*<script src="~/js/jquery.min.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>*@
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@

<script src="~/js/formataregistro.js"></script>


<script>

    $(document).ready(function () {

        

        $('#idgrupo').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });
        $('#idprincipio').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });
        $('#idfab').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true


        });
        culturas=[];
        //loadculturas();

    });

    $(function () {
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "auto",

            sorting: true,
            paging: true,
            pageSize: 10,                 // Define o número de registros por página
            pageButtonCount: 5,          // Número de botões de navegação exibidos
            pagerFormat: "Páginas: {pages} {prev} {next} {first} {last}",  // Formato do pager,
            pageLoading: false,
            pagePrevText: "Anterior", // Texto para o botão "Anterior"
            pageNextText: "Próximo",  // Texto para o botão "Próximo",
            pageFirstText: "Primeira",  // Adicionando "Primeira" página
            pageLastText: "Última",     // Adicionando "Última" página


            autoload: true,
            noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",
            //data:culturas,


            controller: {
                loadData: function () {
                    return $.ajax({
                        type: "GET",
                        url: "/cultura/GetData?filtro=@ViewBag.filtro",
                        dataType: "json"
                    });
                }
            },

            fields: [
                { name: "id", type: "number", width: 20, title: "ID", visible: false },
                { name: "descricao", type: "text", width: 200, title: "Descrição" },
                { name: "unidadeProdutiva", type: "text", width: 30, title: "UND" },
                {
                    type: "control",
                    headerTemplate: function () {
                        // Personalizando o header da coluna de controle
                        var $header = $("<th>")
                            .attr("title", "Variedade") // Adicionando o tooltip com title
                            .text("Variedades"); // Texto do header
                        return $header;
                    },
                    itemTemplate: function (value, item) {
                        var $detailButton = $("<button>")
                            .text("Ver")
                            .addClass("btn btn-primary")
                            .attr("title", "Ver")
                            .on("click", function () {
                                toggleDetails(item); // Alternar o grid de detalhes
                            });

                        return $detailButton;
                    }
                },

                {
                    type: "control",
                    itemTemplate: function (_, item) {
                        var $result = $("<div>").addClass("dropdown");

                        var $button = $("<button>").addClass("btn btn-info dropdown-toggle")
                            .attr("type", "button")
                            .attr("id", "dropdownMenuButton")
                            .attr("data-toggle", "dropdown")
                            .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                            .text("Ações");

                        var $menu = $("<div>").addClass("dropdown-menu")
                            .attr("aria-labelledby", "dropdownMenuButton");

                        var $details = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Visualizar")      
                            .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                            .on("click", function () {
                                window.location.href = '/cultura/editar/' + item.id + '?acao=4';
                            });

                        var $edit = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Editar")
                            .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                            .on("click", function () {
                                window.location.href = '/cultura/editar/' + item.id + '?acao=2';
                            });

                        var $delete = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Excluir")
                            .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                            .on("click", function () {
                                window.location.href = '/cultura/excluir/' + item.id + '?acao=3';
                            });
                        var $principio = $("<a>").addClass("dropdown-item")
                            .attr("href", "#")
                            .text("Definir Variedades")
                            .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                            .on("click", function () {
                                window.location.href = '/cultura/adicionarvariedade?idcultura=' + item.id +  "&desccultura=" + item.descricao;
                            });


                        $menu.append($details).append($edit).append($delete).append($principio);
                        $result.append($button).append($menu);

                        return $result;
                    }
                }]
        });


        function toggleDetails(cultura) {

            variedades=[];
            var $row = $("#jsGrid").jsGrid("rowByItem", cultura);

            // Verificar se o grid de detalhes já está visível
            if ($("#detailGrid").is(":visible") && $("#detailGrid").data("idCultura") === cultura.id) {
                $("#detailGrid").hide(); // Ocultar o grid se ele já estiver visível para o mesmo cliente
            } else {
                // Inserir o template do grid de detalhes abaixo da linha selecionada
                $row.after($("#detailTemplate").html());
                x=cultura.listVariedade;
                $("#detailGrid").jsGrid({
                    width: "100%",
                    height: "300px",
                    inserting: false,
                    editing: false,
                    sorting: false,
                    paging: false,
                    autoload: true,

                    noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",
                    data: x,
                    fields: [
                        { name: "id", title: "ID", type: "text", visible: true, width: 20 },
                        { name: "descricao", title: "Descrição", type: "text", visible: true, width: 200 },
                        { name: "desctecnologia", title: "Tecnologia", type: "text", visible: true, width: 200 },
                        {
                            type: "control",
                            itemTemplate: function (_, item) {
                                var $result = $("<div>").addClass("dropdown");

                                var $button = $("<button>").addClass("btn btn-info dropdown-toggle")
                                    .attr("type", "button")
                                    .attr("id", "dropdownMenuButton")
                                    .attr("data-toggle", "dropdown")
                                    .text("Ações");

                                var $menu = $("<div>").addClass("dropdown-menu")
                                    .attr("aria-labelledby", "dropdownMenuButton");


                                var $edit = $("<a>").addClass("dropdown-item")
                                    .attr("href", "#")
                                    .text("Editar")
                                    .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                                    
                                    .on("click", function () {
                                        window.location.href = '/cultura/editarvariedade/'+item.id+'?idcultura='+item.i&idcultura+'&desccultura='+item.descricao;
                                    });

                                var $delete = $("<a>").addClass("dropdown-item")
                                    .attr("href", "#")
                                    .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                                    .text("Excluir")
                                    .on("click", function () {
                                        window.location.href = '/cultura/editarvariedade/'+item.id+'?idcultura='+item.i&idcultura+'&desccultura='+item.descricao;
                                    });

                                $menu.append($edit).append($delete);
                                $result.append($button).append($menu);

                                return $result;
                            }
                        }
                    ]
                });
                $("#detailGrid").insertAfter($row).show();
                $("#detailGrid").data("idCultura", cultura.id);
            }
        }

       

        

    });

   
    

</script>



