@model ADUSClient.Assinatura.AssinaturaViewModel

@section styles {
    <style>
        body {
            overflow-y: auto;
        }

        .content-wrapper {
            padding: 1rem;
        }
    </style>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="mb-0">@ViewBag.Titulo</h1>
            </div>
        </div>
    </div>
</section>
<label>@ViewBag.acao</label>
<section class="content">
    <div class="container-fluid">
        <form asp-action="@ViewBag.acao" class="needs-validation" novalidate>
            @Html.AntiForgeryToken()

            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Dados da Assinatura</h3>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @if (ViewBag.acao == "Excluir" || ViewBag.acao == "Visualizar")
                    {
                        <fieldset disabled>
                            @Html.Partial("_AssinaturaFormFields", Model)
                        </fieldset>
                    }
                    else
                    {
                        @Html.Partial("_AssinaturaFormFields", Model)
                    }
                </div>

                <div class="card-footer text-end">
                    @if (ViewBag.acao == "Adicionar" || ViewBag.acao == "Editar")
                    {
                        <button type="submit" class="btn btn-success me-2">
                            <i class="fas fa-save me-1"></i> Salvar
                        </button>
                    }
                    else if (ViewBag.acao == "Excluir")
                    {
                        <button type="submit" class="btn btn-danger me-2">
                            <i class="fas fa-trash me-1"></i> Excluir
                        </button>
                    }
                    <a href="/assinatura/index" class="btn btn-secondary">
                        <i class="fas fa-arrow-left me-1"></i> Voltar
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>

@section scripts {
    <script>
        
    </script>
}
