@model List<FarmPlannerClient.ModeloMaquina.ListModeloMaquinaViewModel>

@{
    ViewBag.Title = "Modelos de Máquina";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />


<style>
    .hidden {
        display: none;
    }
</style>



    <form asp-action="Index">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title">Filtro</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">

                                    <select class="select2" name="idmarca" id="idmarca" data-placeholder="escolha uma marca" style="width: 100%;">
                                        <option value="0">escolha uma marca</option>
                                        @foreach (var item in ViewBag.marcas)
                                        {
                                            if (@item.Value == ViewBag.SelectedOption)
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>

                                </div>
                               

                            </div>
                            <div class="col-md-5">
                                <div class="input-group">

                                    <input type="search" class="form-control form-control-md" name="filtro" value="@ViewBag.filtro" placeholder="busca por descrição">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-md btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>      
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </form>



<h2>Modelos de Máquina</h2>
@if (ViewBag.permissao == true)
{
    <div class="col text-right">
        <a href="/modelomaquina/adicionar" class=" btn btn-primary">Novo Modelo </a>

    </div>

}
<div id="jsGrid"></div>



@section scripts {
    <script>

        $(document).ready(function () {

            $('select').select2();

        });


        $(function () {
            $("#jsGrid").jsGrid({
                width: "100%",
                height: "400px",

                sorting: true,
                paging: true,
                pageSize: 10,                 // Define o número de registros por página
                pageButtonCount: 5,          // Número de botões de navegação exibidos
                pagerFormat: "Páginas: {pages} {prev} {next} {first} {last}",  // Formato do pager,
                pageLoading: false,
                pagePrevText: "Anterior", // Texto para o botão "Anterior"
                pageNextText: "Próximo",  // Texto para o botão "Próximo",
                pageFirstText: "Primeira",  // Adicionando "Primeira" página
                pageLastText: "Última",     // Adicionando "Última" página


                autoload: true,
                noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",

                controller: {
                    loadData: function () {
                        return $.ajax({
                            type: "GET",
                            url: "/modelomaquina/GetData?filtro=@ViewBag.filtro&idmarca=@ViewBag.SelectedOption",
                            dataType: "json"
                        });
                    }
                },

                fields: [
                    { name: "id", type: "number", width: 20, title: "ID", visible: true },
                    { name: "descricao", type: "text", width: 150, title: "Descrição" },

                    {
                        type: "control",
                        itemTemplate: function (_, item) {
                            var $result = $("<div>").addClass("dropdown");

                            var $button = $("<button>").addClass("btn btn-info dropdown-toggle")
                                .attr("type", "button")
                                .attr("id", "dropdownMenuButton")
                                .attr("data-toggle", "dropdown")
                                .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                                .text("Ações");

                            var $menu = $("<div>").addClass("dropdown-menu")
                                .attr("aria-labelledby", "dropdownMenuButton");

                            var $details = $("<a>").addClass("dropdown-item")
                                .attr("href", "#")
                                .text("Visualizar")

                                .on("click", function () {
                                    window.location.href = '/modelomaquina/editar/' + item.id + '?acao=4';
                                });

                            var $edit = $("<a>").addClass("dropdown-item")
                                .attr("href", "#")
                                .text("Editar")
                                .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                                .on("click", function () {
                                    window.location.href = '/modelomaquina/editar/' + item.id + '?acao=2';
                                });

                            var $delete = $("<a>").addClass("dropdown-item")
                                .attr("href", "#")
                                .text("Excluir")
                                .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                                .on("click", function () {
                                    window.location.href = '/modelomaquina/excluir/' + item.id + '?acao=3';
                                });

                            $menu.append($details).append($edit).append($delete);
                            $result.append($button).append($menu);

                            return $result;
                        }
                    }]
            });
        });
    </script>
}                       